<div id="PlanChooser" title = "Choose a Plan.  Start Drawing.">

<div id="TemplateTypeButtons">
    <div id="btnBlank">Blank Map</div>
    <div id="btnTemplate">Template</div>
    <div id="btnShared">Plan by Other User</div>
    <div id="btnMine">Plans saved by {{ user }}</div>
</div>

<div id="SelectorsHelp">
    To start, click on a button to determine which kind of template you'll be using.
</div>

<div id="TemplateSelectors">
        <div id="TemplateSelection" class="SelectionGroup" >
    {% if templates %}
        <select id="ddlTemplate" class="Selectors" >
        {% for plan in templates %}
            <option value="{{ plan.id }}">{{ plan.name }}</option>
        {% endfor %}
        </select>
    {% else %}<span class="Selectors">Sorry, no templates of that type available</span>
    {% endif %}
        </div>
        <div id="SharedSelection" class="SelectionGroup" >
    {% if shared %}
        <select id="ddlShared" class="Selectors">
        {% for plan in shared %}
            <option value="{{ plan.id }}">{{ plan.name }}</option>
        {% endfor %}
        </select>
    {% else %}<span class="Selectors">Sorry, no templates of that type available</span>
    {% endif %}
        </div>
        <div id="MineSelection" class="SelectionGroup" >
    {% if mine %}
        <select id="ddlMine" class="Selectors">
        {% for plan in mine %}
            <option value="{{ plan.id }}">{{ plan.name }}</option>
        {% endfor %}
        </select>

        <input type="radio" name="Edit" value="edit" checked>Edit Selected Plan</input>
        <input type="radio" name="Edit" value="saveas">Copy and Save Selected Plan</input>

    {% else %}<span class="Selectors">Sorry, no templates of that type available</span>
    {% endif %}
        </div>
</div>

<div id="NewName">
    <label for="txtNewName" id="lblNewName">Template copy name:</label>
    <input type="text" id="txtNewName" />
</div>
<button id="btnSelectPlan" type="submit">Start Drawing</button>

</div>
