<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" ></script>
<script type="text/javascript" src="/site-media/publicmapping.chooseplan.js" ></script>
<div id="PlanChooser" >
<h1>Choose a Plan.  Start Drawing.</h1>

Start with a...
<div id="TemplateTypeButtons">
    <input id="btnBlank"  type="button" value="Blank Map" />
    <input id="btnTemplate" type="button" value="Template" />
    <input id="btnShared" type="button" value="Plan by Other User" />
    <input id="btnMine" type="button" value="Plans saved by {{ user }}" />
</div>

<div id="SelectorsHelp">
    To start, click on a button to determine which kind of template you'll be using.
</div>

<div id="TemplateSelectors">
        <div id="TemplateSelection" class="SelectionGroup" >
    {% if templates %}
        <select id="ddlTemplate" class="Selectors" >
        {% for plan in templates %}
            <option value="{{ plan.id }}">{{ plan.name }}</option>
        {% endfor %}
        </select>
    {% else %}<span class="Selectors">Sorry, no templates of that type available</span>
    {% endif %}
        </div>
        <div id="SharedSelection" class="SelectionGroup" >
    {% if shared %}
        <select id="ddlShared" class="Selectors">
        {% for plan in shared %}
            <option value="{{ plan.id }}">{{ plan.name }}</option>
        {% endfor %}
        </select>
    {% else %}<span class="Selectors">Sorry, no templates of that type available</span>
    {% endif %}
        </div>
        <div id="MineSelection" class="SelectionGroup" >
    {% if mine %}
        <select id="ddlMine" class="Selectors">
        {% for plan in mine %}
            <option value="{{ plan.id }}">{{ plan.name }}</option>
        {% endfor %}
        </select>

        <input type="radio" name="Edit" value="edit" checked>Edit Selected Plan</input>
        <input type="radio" name="Edit" value="saveas">Copy and Save Selected Plan</input>

    {% else %}<span class="Selectors">Sorry, no templates of that type available</span>
    {% endif %}
        </div>
</div>

<div id="NewName">
    <label for="txtNewName" id="lblNewName">Template copy name:</label>
    <input type="text" id="txtNewName" />
</div>
<input id="btnSelectPlan" type="submit" value="Start Drawing" />

</div>
<script type="text/javascript">
var choose = publicmapping.chooseplan();
choose.init();
</script>
