{% load comments %}
<div>
    <!--
    <h3>Name:</h3>
    <div class="district_name">{{ district.name }}</div>
    <h3>Type:</h3>
    <div class="district_type">
        <input type="text" value="{% for tag in typetags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}" id="id_tags" name="tags"/>
    </div>
    <h3>Comments:</h3>
    -->
    {% get_comment_list for district as dcoms %}
    {% for dcom in dcoms %}
        <div class="district_comment {% cycle 'comm1' 'comm2' %}">
            <div class="district_comment_content">{{ dcom.comment }}</div>
            <div class="district_comment_date">{{ dcom.submit_date|date:"N j, Y" }} at {{ dcom.submit_date|date:"g:i a" }}</div>
        </div>
    {% endfor %}
    {% get_comment_form for district as form %}
    <form action="/districtmapping/plan/{{ district.plan_id }}/district/{{ district.district_id }}/comments/" method="post">
        {% csrf_token %}
        <p>
            {{ form.comment.errors }}
            <label for="id_comment">Add a comment:</label>
            {{ form.comment }}
        </p>
        <input type="hidden" id="id_name" name="{{ form.name.html_name }}" value="{% firstof user.first_name user.last_name user.username %}"/>
        <input type="hidden" id="id_email" name="{{ form.email.html_name }}" value="{{ user.email }}"/>
        <input type="hidden" id="id_url" name="{{ form.url.html_name }}" value="" />
        <p>
            {{ form.honeypot.label_tag }}:
            {{ form.honeypot }}
        </p>
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        <input type="hidden" id="submit-mode" />
    </form>
</div>
