{% load comments %}
<div>
    <h3>1. Edit Community Label:</h3>
    <div id="district_label" class="district_input">
        <input type="text" value="{{ district.name }}" id="id_label" name="label"/>
    </div>
    <h3>2. Edit Community Type:</h3>
    <div id="district_type" class="district_input">
        <input type="text" value="{% for tag in typetags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}" id="id_type" name="type"/>
    </div>
    {% get_comment_list for district as dcoms %}
    <h3>3. Comments:</h3>
        {% get_comment_form for district as form %}
        <form action="/districtmapping/plan/{{ district.plan_id }}/district/{{ district.district_id }}/info/" method="post">
            {% csrf_token %}
            <p>
                <textarea id="id_comment" name="comment" cols="40" rows="10">{% for dcom in dcoms %}{{ dcom.comment }}{% endfor %}</textarea>
            </p>
            <input type="hidden" id="id_name" name="{{ form.name.html_name }}" value="{% firstof user.first_name user.last_name user.username %}"/>
            <input type="hidden" id="id_email" name="{{ form.email.html_name }}" value="{{ user.email }}"/>
            <input type="hidden" id="id_url" name="{{ form.url.html_name }}" value="" />
            <p style="display:none;">
                {{ form.honeypot.label_tag }}:
                {{ form.honeypot }}
            </p>
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="hidden" id="submit-mode"/>
        </form>
    </div>
</div>
