<script type="text/javascript">
         loadTooltips();
</script>
                  <div class="plansummary">
                      <h3>{{ plan.name }}</h3>
                    {% for key,value in aggregate.items %}
                      <div><label>{{ key }}</label> <span id="totalpop" class="value">{{ value  }}</span></div>
                    {% endfor %}
                  </div>
                  <div class="plantable header">
                     <table>
                      <thead>
                         {% if targets %}
                          <tr>
                              <th class="celldist">Dist.</th>
                              <th class="cellpop">Population</th>
                              <th class="cellcontig">Contiguity</th>
                              <th class="cellcompact">Compactness</th>
                           <!--    {% for key, value in targets.items %}
                              <th class="cellsubjects">{{ key }}</th>
                              {% endfor %}
                            -->
                          </tr>
                        {% endif %}
                      </thead>
                   </table>
                  </div>
                  <div class="plantable body">
                    {% if district_values %}
                       <table>
                          <tbody>
                              {% for key, value in district_values.items %}
                              <tr class="{% cycle 'odd' 'even' %}">
                                  <td class="celldist">{{ key }}</td>
                                  <td class="cellpop">
                                      <span class="popstatus {% cycle 'target' 'under' 'over' %}"> 
                                         {{ value.POPTOT }}
                                      </span>
                                  </td>
                                  {% if value.contiguity %}
                                  <td class="cellcontig"><img class="yes-contiguous" src="/site-media/images/icon-check.png">
                                  {% else %}
                                  <td class="cellcontig"><img class="no-contiguous" src="/site-media/images/icon-warning.png">
                                  {% endif %}
                                  <div class="tooltip">this is a tooltip</div>
                                  </td>                             
                                  <td class="cellcompact">{{ value.compactness }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                    {% else %}
                        <div class="error"> Sorry, there is no geographic data for this plan</div>
                    {% endif %}                    
                  </div>
                 <div class="menu_footer">
                    <button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="stats_legend"><span class="ui-button-text">Stats Legend</span></button>
                    <div class="tooltip" id="stats_legend_panel">
                                          <div class="legend_item">
                        <h5>Population</h5>
                        <ul>
                          <li><span class="swatch popstatus over"></span> Over target</li>
                          <li><span class="swatch popstatus under" id="swatch-under"></span> Under target</li>                       
                          <li><span class="swatch popstatus target" id="swatch-target"></span> Meets target</li>  
                        </ul>
                      </div>
                      <div class="legend_item last">
                        <h5>Contiguity</h5>
                        <ul>
                          <li><img src="/site-media/images/icon-check.png" class="yes-contiguous"> Contiguous</li>
                          <li><img src="/site-media/images/icon-warning.png" class="no-contiguous"> Non-contiguous</li>                 
 
                        </ul>
                      </div>   
                    </div>
                </div>
                
