<script type="text/javascript">
         loadTooltips();
</script>
                  <div class="plansummary">
                      <h3>{{ plan.name }}</h3>
                    {% for key,value in aggregate.items %}
                      <div><label>{{ key }}</label> <span id="totalpop" class="value">{{ value  }}</span></div>
                    {% endfor %}
                  </div>
                  <div class="plantable header">
                     <table>
                      <thead>
                         {% if district_values %}
                          <tr>
                              <th class="celldist cell1">Dist.</th>
                              <th class="celldemo cell2">{{ name }}</th>
                              <th class="cellcontig cell3">Contiguity</th>
                              <th class="cellcompact cell4">Compactness</th>
                          </tr>
                        {% endif %}
                      </thead>
                   </table>
                  </div>
                  <div class="plantable body">
                    {% if district_values %}
                       <table>
                          <tbody>
                              {% for key, stat in district_values.items %}
                              <tr class="{% cycle 'odd' 'even' %}">
                                  <td class="celldist cell1">{{ key }}</td>
                                  <td class="celldemo cell2">
                                    <span class="popstatus {{ value.css_class }}"> 
                                         {{ stat.demo }}
                                    </span>
                                  </td>
                                  {% if stat.contiguity %}
                                  <td class="cellcontig cell3"><img class="yes-contiguous" src="/site-media/images/icon-check.png">
                                  {% else %}
                                  <td class="cellcontig cell3"><img class="no-contiguous" src="/site-media/images/icon-warning.png">
                                  {% endif %}
                                  <div class="tooltip">this is a tooltip</div>
                                  </td>                             
                                  <td class="cellcompact cell4">{{ stat.compactness }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                    {% else %}
                        <div class="error"> Sorry, there is no geographic data for this plan</div>
                    {% endif %}                    
                  </div>
<div class="menu_footer">
                    <button id="stats_legend" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Stats Legend</span></button>
                    <div id="stats_legend_panel" class="tooltip">
                      <div class="legend_item">
                        <h5>Population</h5>
                        <ul>
                          <li><span class="swatch popstatus over"></span> Over target</li>
                          <li><span id="swatch-under" class="swatch popstatus under"></span> Under target</li>                       
                          <li><span id="swatch-target" class="swatch popstatus target"></span> Meets target</li>  
                        </ul>
                      </div>
                      <div class="legend_item last">
                        <h5>Contiguity</h5>
                        <ul>
                          <li><img class="yes-contiguous" src="/site-media/images/icon-check.png"> Contiguous</li>
                          <li><img class="no-contiguous" src="/site-media/images/icon-warning.png"> Non-contiguous</li>                 
 
                        </ul>
                      </div>                    
                    
                    </div>
                </div>
                </div>
            </div>
