{% load comments %}

<div class="community_comments">
{% for dscore in districtscores %}
    <div class="districtComment">
        <h3>{{ dscore.district }}</h3>
        {% get_comment_list for dscore.district as dcoms %}
        {% for forscore in dscore.scores %}
            {% with forscore.score as score %}
                {% if score.labeltags %}
                    <h4>Label:</h4>
                    <div class="district_label">
                        {% for labeltag in score.labeltags %}
                            {{ labeltag }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if score.typetags %}
                    <h4>Type:</h4>
                    <div class="district_type">
                        {% for tag in score.typetags %}
                            {{ tag }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        {% endfor %}
        {% for dcom in dcoms %}
            {% if forloop.first %}
                <h4>Comments:</h4>
            {% endif %}
            <div class="district_comment {% cycle 'comm1' 'comm2' %}">
                <div class="district_comment_content">{{ dcom.comment }}</div>
                <div class="district_comment_date">{{ dcom.submit_date|date:"N j, Y" }} at {{ dcom.submit_date|date:"g:i a" }}</div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>
<script type="text/javascript">
(function(){
    var districts = $('.districtComment');
    var h3re = new RegExp('^\\s*\<h3\>.*\<\/h3\>\\s*$');
    districts.each(function(idx){
        var me = $(this);
        if (h3re.test(me.html())) {
            me.hide();
        }
    });
})();
</script>
