{% load comments %}

<div class="community_comments">
{% for dscore in districtscores %}
    <div class="districtComment {% cycle 'comm1' 'comm2' %}">
        <h3>{{ dscore.district }}</h3>
        <div class="edit_district_info">Click to edit</div>
        <div class="district_type">
            <h4>Type/s:</h4>
            {% for forscore in dscore.scores %}
                {% with forscore.score as score %}
                    {% if score.typetags %}
                        <span>{% for tag in score.typetags %}{{ tag }}{% if not forloop.last %},{% endif %}{% endfor %}</span>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
        {% get_comment_list for dscore.district as dcoms %}
        <div class="district_comment">
            <h4>Comments:</h4>
            <div>{% for dcom in dcoms %}{{ dcom.comment }}{% endfor %}</div>
        </div>
        <div style="clear:both;height:0;line-height:0;">&nbsp;</div>
    </div>
{% endfor %}
</div>
