<div id="PlanPublisher" title = "Publish your plan">
<h3>Would you like to publish your plan?</h3>
<p>Publishing your plan will create a snapshot of your plan at this moment.  That snapshot will be shared with
other users of the application.  They won't be able to change your template but they'll be able to make
their own copies and edit those copies.
<br />
You can also submit your plan to the organization in charge of this application.  The plan won't be published
but it will be snapshotted so that your future changes won't be reflected in the submission.
</p>

<button id="btnPublishPlan">Yes, Publish</button>
<button id="btnSubmitPlan">Submit to the administrator</button>
<button id="btnClose">No, I'll go back to editing</button>

</div>
<script type="text/javascript">
PLAN_ID = {{ plan.id }};
<script>
