        <div id="reportdescription">
            <div id="description">
               <h3> Introduction to the reporting tool</h3>
                <p>Select the plan statistics you'd like included in a comprehensive report on your redistricting plan. After you've made your selections click "Create and Preview Report" to view the final report.</p>
            </div>
            <div id="options">
                <div id="options1">
                    <input type="hidden" id = "popVar" value="Total Population|POPTOT">
                    <span class="popVarExtra master" ><input id="popVarExtra_master" type="checkbox" /><label for="popVarExtra_master">Population</label></span>
                    <span class="popVarExtra child reportVar" ><input id="VAPTOT" type="checkbox"  value="VAPTOT" /><label for="VAPTOT">Voting Age Population</label></span>
                    <span class="popVarExtra child reportVar" ><input id="VAPNHWHT" type="checkbox"  value="VAPNHWHT" /><label for="VAPNHWHT">Voting Age Population - White</label></span>
                    <span class="popVarExtra child reportVar" ><input id="VAPBLK" type="checkbox"  value="VAPBLK" /><label for="VAPBLK">Voting Age Population - Black</label></span>
                    <span class="popVarExtra child reportVar" ><input id="VAPHISP" type="checkbox"  value="VAPHISP" /><label for="VAPHISP">Voting Age Population - Hispanic</label></span>
                    <span class="compactness master" ><input id="compactness_master" type="checkbox" /><label for="compactness_master">Compactness</label></span>
                    <span class="compactness child reportVar"><input id="repCompactness" type="checkbox" value="repCompactness" /><label for="repCompactness">Compactness - Length/Width</label></span>
                    <span class="compactness child reportVar"><input id="repCompactnessExtra" type="checkbox" value="repCompactnessExtra" /><label for="repCompactnessExtra">Compactness - Bounding Circle</label></span>
                    <span class="spatial master" ><input id="spatial_master" type="checkbox" /><label for="spatial_master">Spatial Analysis</label></span>
                    <span class="spatial child reportVar"><input id="repSpatialExtra" type="checkbox" value="repSpatialExtra" /><label for="repSpatialExtra">Contiguity</label></span>
                    <span class="spatial child reportVar"><input id="repSpatial" type="checkbox" value="repSpatial" /><label for="repSpatial">Unassigned Blocks</label></span>
                </div>
                <div id="options2">
                    <span class="racialComp master" ><input id="racialComp_master" type="checkbox" /><label for="racialComp_master">Racial Composition</label></span>
                    <span class="racialComp child reportVar"><input id="racialComp" type="checkbox" value="POPBLK"/><label for="POPBLK" >Majority Black</label></span>
                    <span class="racialComp child reportVar"><input id="racialComp" type="checkbox" value="POPHISP"/><label for="POPHISP" >Majority Hispanic</label></span>
                    <span class="partyControl master" ><input id="partyControl_master" type="checkbox" /><label for="partyControl_master">Party Control</label></span>
                    <span class="partyControl child reportVar"><input id="PRES_DEM" type="checkbox" value="PRES_DEM" /><label for="PRES_DEM">Democratic Votes</label></span>
                    <span class="partyControl child reportVar"><input id="PRES_REP" type="checkbox" value="PRES_REP" /><label for="PRES_REP">Republican Votes</label></span>
                    <span class="splitVar master" ><input id="splitVar_master" type="checkbox" /><label for="splitVar_master">Split Geographies</label></span>
                    <span class="splitVar child reportVar" ><input id="COUNTY" type="checkbox" value = "COUNTY" /><label for="COUNTY">County Splits</label></span>
                    <span class="splitVar child reportVar" ><input id="TRACT" type="checkbox" value="TRACT" /><label for="TRACT">Tract Splits</label></span>
                </div>
            </div>
        </div>
        <div id="reportPreviewContainer">
            <div id="reportPreview" class="report">
            </div>
        </div>
		<div id="reportButtons">
            <button id="btnPreviewReport">Create and Preview Report</button>
            <button id="btnSharePlans" onClick="$('#steps').tabs('select', '#step_share');return false;" >Go to Share Plan options</button>
                       
        </div>
		
