{% load redistricting_extras %}
<div class="split_report">
<div>Total Splits: {{ splits|length }}</div>
{% if extended %}
    <div id="split_indicator">* indicates split</div> 
{% endif %}
<div class="table_container">
<table class="report"><thead><tr><th>{{ plan_name }}</th><th>{{ other_name }}</th><th>Total Splits</th></tr></thead><tbody>
{{ components }}
{% regroup named_splits|dictsort:"geo" by geo as split_list %}
{% for geo in split_list %}
    <tr>
        <td>{{ geo.grouper }}</td><td /><td>{{ geo.list|length }}</td>
    </tr>
    {% for split in geo.list|dictsort_ignorecase:"interior" %}
    <tr>
        <td /><td>{% if extended and split.split %}* {% endif %}{{ split.interior }}</td><td />
    </tr>
    {% endfor %}
{% endfor %}
</tbody></table>
</div>
</div>
{% if type_splits %}
    <div class="split_table_type">Type Summary By District</div>
    <table class="report"><thead><tr><th>{{ plan_name }}</th><th>Type</th><th>Total By District</th></tr></thead><tbody>
    {% regroup type_splits by name as type_list %}
    {% for name in type_list %}
        <tr>
            <td>{{ name.grouper }}</td><td /><td />
        </tr>
        {% for split in name.list|dictsort_ignorecase:"type" %}
        <tr>
            <td /><td>{{ split.type }}</td><td>{{ split.number }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody></table>
    </div>
    </div>
{% endif %}
{% if type_counts %}
<div class="split_table_type">Type Summary</div>
<table class="report"><thead><tr><th>Type</th><th>Total</th></tr></thead><tbody>
    {% for type in type_counts|dictsort_ignorecase:"type" %}
    <tr>
        <td>{{ type.type }}</td><td>{{ type.number }}</td>
    </tr>
    {% endfor %}
</tbody></table>
</div>
</div>
{% endif %}
