Gunicorn==19.7.1
dict2xml==1.5
ipython==5.5.0
gevent==1.2.2
Django==1.11.10
psycopg2==2.7.3
celery[redis]==4.1.0
django-redis==4.8.0
django-rosetta==0.7.13
django-staticfiles==1.2.1
django-tagging==0.4.6
django-contrib-comments==1.8.0
django-extensions==1.9.1
jinja2==2.10
polib==1.0.8
inflect==0.2.3
python-sld==1.0.9
numpy==1.13.3
fiona==1.7.11
scipy==0.19.1
PySAL==1.14.2
Pillow==1.7.8
xhtml2pdf==0.0.6
html5lib==1.0b8
git+git://github.com/PublicMapping/modestmaps-py.git@db-mod_1.4
lxml==3.8.0
colorbrewer==0.1.1
python-dateutil==2.6.0
requests==2.18.4
git+git://github.com/PublicMapping/district-builder-config.git@0.1.0
