Gunicorn==19.7.1
gevent==1.2.2
Django==1.11.5
psycopg2==2.7.3
celery==3.0.15
kombu==3.0.37
django-celery==3.0.11
django-redis==4.8.0
django-rosetta==0.7.13
django-staticfiles==1.2.1
django-tagging==0.4.5
django-sld==1.0.7
django-contrib-comments==1.8.0
polib==1.0.8
inflect==0.2.3
python-sld==1.0.9
numpy==1.6.2
scipy==0.11.0
Pillow==1.7.8
PySAL==1.5.0
xhtml2pdf==0.0.6
html5lib==1.0b8
git+git://github.com/PublicMapping/modestmaps-py.git@db-mod_1.4
lxml==3.8.0
