*.pyc
*.mo
*.swp
*.env

deployment/ansible/roles/azavea.*
.vagrant*

# generated style files from geoserver
sld
geoserver/data_dir
data
config_settings.py
deployment/terraform/.terraform
*.tfplan
*.tfvars
*.tfstate*
*.retry
deployment/ansible/roles/district-builder.app-server/defaults/main.yml
deployment/user-data
deployment/ansible/inventory
