*.pyc
*.mo
*.swp
*.env

deployment/ansible/roles/azavea.*
.vagrant*

# generated style files from geoserver
sld
geoserver/data_dir
data
config_settings.py

# Terraform
deployment/terraform/.terraform
*.tfplan
*.tfvars
*.tfstate*
*.retry

# User data
deployment/user-data
