Django==1.4.1
celery==3.0.15
django-celery==3.0.11
django-staticfiles==1.2.1
django-tagging==0.3.1
django-sld==1.0.7
inflect==0.2.3
xhtml2pdf==0.0.4
django-compressor==1.2
python-sld==1.0.9
numpy==1.6.2
scipy==0.11.0
PIL==1.1.7
PySAL==1.5.0
git+git://github.com/PublicMapping/modestmaps-py.git@db-mod_1.4
git+git://github.com/PublicMapping/django-rosetta.git@db-mod_2.0
