<DistrictBuilder>
    <LegislativeBodies>
        <LegislativeBody id="congress" name="Congressional" short_label="%(district_id)s"
            long_label="District %(district_id)s" maxdistricts="18" sort_key="1" members="Districts"/>
    </LegislativeBodies>

    <Regions>
        <Region id="pa" name="pa" label="Pennsylvania" description="The Commonwealth of Pennsylvania" sort_key="1">
            <LegislativeBodies>
                <LegislativeBody ref="congress" />
            </LegislativeBodies>

            <GeoLevels>
                <GeoLevel ref="tract" label="Census Tracts">
                   <GeoLevel ref="county" label="County Lines" />
                </GeoLevel>
            </GeoLevels>
        </Region>
    </Regions>

    <Subjects>
        <Subject id="poptot" field="TOTAL_POP" name="Total Population"
                 short_name="Total Pop." displayed="true" sortkey="1" default="true" />
        <Subject id="popwnh" field="WHITE_NH" name="Total White Population"
                 short_name="White" displayed="false" sortkey="2" />
        <Subject id="popblk" field="BLACK_NH" name="Total Black Population"
                 short_name="Black" displayed="false" sortkey="3" />
        <Subject id="pophisp" field="HISPANIC" name="Total Hispanic/Latino Population"
                 short_name="Hispanic" displayed="false" sortkey="4" />
        <Subject id="popasn" field="ASIAN_NH" name="Total Asian Population"
                 short_name="As Amer" displayed="false" sortkey="5" />
        <Subject id="votedem" field="SUM_D" name="Registered Democrat"
                 short_name="Reg Dem" displayed="false" sortkey="6" />
        <Subject id="voterep" field="SUM_R" name="Registered Republican"
                 short_name="Reg Rep" displayed="false" sortkey="7" />
        <Subject id="voteoth" field="SUM_O" name="Registered Other"
                 short_name="Reg Oth" displayed="false" sortkey="8" />
        <Subject id="popnam" field="AI_AN_NH" name="Total American Indian/Alaskan Native"
                 short_name="Nat Amer" displayed="false" sortkey="9" />
        <Subject id="poppild" field="HAW_OPI_NH" name="Total Native Hawaiian/Pacific Islander"
                 short_name="Pac Isldr" displayed="false" sortkey="10" />
        <Subject id="popoth" field="OTHER_NH" name="Total Other Race"
                 short_name="Other" displayed="false" sortkey="11" />
        <Subject id="poptwo" field="TWO_MORE" name="Total Two or more races"
                 short_name="Two+" displayed="false" sortkey="12" />
        <Subject id="vap" field="TOT18O_POP" name="Total Population 18 years and older (voting age)"
                 short_name="Voters" displayed="false" sortkey="13" />
        <Subject id="vapwnh" field="O18WHITE" name="18 years and older, white alone"
                 short_name="Wht Votng Age" displayed="false" sortkey="14" percentage_denominator="vap" />
        <Subject id="vaphisp" field="O18HISPAN" name="18 years and older, hispanic"
                 short_name="Hisp. VAP" displayed="false" sortkey="15" percentage_denominator="vap" />
        <Subject id="vapblk" field="O18BLACK" name="18 years and older, Black or African American"
                 short_name="Black VAP" displayed="false" sortkey="16" percentage_denominator="vap" />
        <Subject id="vapnam" field="O18AI_AN" name="18 years and older, American Indian and Alaska Native alone"
                 short_name="Nat Amer VAP" displayed="false" sortkey="17" percentage_denominator="vap" />
        <Subject id="vapasn" field="O18ASIAN" name="18 years and older, Asian alone"
                 short_name="As Amer VAP" displayed="false" sortkey="18" percentage_denominator="vap" />
        <Subject id="vappild" field="O18NHI_PI" name="18 years and older, Native Hawaiian and Other Pacific Islander"
                 short_name="Pac Isldr VAP" displayed="false" sortkey="19" percentage_denominator="vap" />
        <Subject id="vapoth" field="O18_SOR" name="18 years and older, Some Other Race alone"
                 short_name="Other VAP" displayed="false" sortkey="20" percentage_denominator="vap" />
        <Subject id="vaptwo" field="O18_2MORE" name="18 years and older, Two or More Races"
                 short_name="Two+ VAP" displayed="false" sortkey="21" percentage_denominator="vap" />
        <Subject id="prison" field="CF_POP" name="Prison population"
                 short_name="Prison Pop." displayed="false" sortkey="22" />
        <Subject id="ageu18" field="U18_POP" name="Age - under 18"
                 short_name="Under 18" displayed="false" sortkey="23" />
        <Subject id="age1824" field="A18_24_POP" name="Age - 18-24"
                 short_name="18-24" displayed="false" sortkey="24" />
        <Subject id="age2534" field="A25_34_POP" name="Age - 25-34"
                 short_name="25-34" displayed="false" sortkey="25" />
        <Subject id="age3549" field="A35_49_POP" name="Age - 35-49"
                 short_name="35-49" displayed="false" sortkey="26" />
        <Subject id="age5064" field="A50_64_POP" name="Age - 50-64"
                 short_name="50-64" displayed="false" sortkey="27" />
        <Subject id="age65o" field="A650_POP" name="Age - 65 and over"
                 short_name="65+" displayed="false" sortkey="28" />
    </Subjects>

    <Scoring>
        <ScoreFunctions>
            <ScoreFunction id="district_03_polsbypopper" type="district"
                calculator="redistricting.calculators.PolsbyPopper"
                label="Compactness" user_selectable="true">
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_02_contiguous" type="district"
                calculator="redistricting.calculators.Contiguity"
                label="Contiguous" user_selectable="true">
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="plan_contiguous" type="plan"
                calculator="redistricting.calculators.SumValues"
                label="Contiguous">
                <ScoreArgument name="value1" ref="district_02_contiguous"/>
            </ScoreFunction>

            <ScoreFunction id="B_congress_plan_noncontiguous" type="plan"
                calculator="redistricting.calculators.Contiguity"
                label="Contiguous">
                <Argument name="target" value="18" />
            </ScoreFunction>

            <ScoreFunction id="congressional_population" type="district"
                label="Tot Pop" user_selectable="true"
                description="Population interval calculator for congressional."
                calculator="redistricting.calculators.Interval">
                <SubjectArgument name="subject" ref="poptot" />
                <Argument name="target" value="705688" />
                <Argument name="bound1" value=".005" />
                <Argument name="bound2" value=".01" />
                <LegislativeBody ref="congress" />
            </ScoreFunction>

            <!-- District score functions -->
            <ScoreFunction id="district_19_vapblk_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Black VAP">
                <SubjectArgument name="numerator" ref="vapblk" />
                <SubjectArgument name="denominator" ref="vap" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_vapblk_thresh" type="district"
                calculator="redistricting.calculators.Threshold"
                label="Black VAP Threshold">
                <ScoreArgument name="value" ref="district_19_vapblk_percent" />
                <Argument name="threshold" value="0.5" />
            </ScoreFunction>

            <ScoreFunction id="district_20_vaphisp_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="His. VAP">
                <SubjectArgument name="numerator" ref="vaphisp" />
                <SubjectArgument name="denominator" ref="vap" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_vap_thresh" type="district"
                calculator="redistricting.calculators.Threshold"
                label="His. VAP Threshold">
                <ScoreArgument name="value" ref="district_20_vaphisp_percent" />
                <Argument name="threshold" value="0.5" />
            </ScoreFunction>

            <ScoreFunction id="district_18_vapasn_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Asian VAP">
                <SubjectArgument name="numerator" ref="vapasn" />
                <SubjectArgument name="denominator" ref="vap" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_vapasn_thresh" type="district"
                calculator="redistricting.calculators.Threshold"
                label="Asian VAP Threshold">
                <ScoreArgument name="value" ref="district_18_vapasn_percent" />
                <Argument name="threshold" value="0.5" />
            </ScoreFunction>

            <ScoreFunction id="district_23_vapwnh_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="White VAP">
                <SubjectArgument name="numerator" ref="vapwnh" />
                <SubjectArgument name="denominator" ref="vap" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_vapwnh_thresh" type="district"
                calculator="redistricting.calculators.Threshold"
                label="White VAP Threshold">
                <ScoreArgument name="value" ref="district_23_vapwnh_percent" />
                <Argument name="threshold" value="0.5" />
            </ScoreFunction>

            <ScoreFunction id="district_vapnownh_thresh" type="district"
                calculator="redistricting.calculators.Threshold"
                label="Non-white VAP Threshold">
                <ScoreArgument name="value" ref="district_23_vapwnh_percent" />
                <Argument name="threshold" value="0.5" />
                <Argument name="less_than" value="1" />
            </ScoreFunction>

            <ScoreFunction id="district_21_vapnam_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Nat. Amer. VAP">
                <SubjectArgument name="numerator" ref="vapnam" />
                <SubjectArgument name="denominator" ref="vap" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_vapnam_thresh" type="district"
                calculator="redistricting.calculators.Threshold"
                label="Nat. Amer. VAP Threshold">
                <ScoreArgument name="value" ref="district_21_vapnam_percent" />
                <Argument name="threshold" value="0.5" />
            </ScoreFunction>

            <ScoreFunction id="district_22_vappild_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Pac. Isldr. VAP">
                <SubjectArgument name="numerator" ref="vappild" />
                <SubjectArgument name="denominator" ref="vap" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_vappild_thresh" type="district"
                calculator="redistricting.calculators.Threshold"
                label="Pac. Isldr. VAP Threshold">
                <ScoreArgument name="value" ref="district_22_vappild_percent" />
                <Argument name="threshold" value="0.5" />
            </ScoreFunction>

            <ScoreFunction id="district_25_vapoth_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Other VAP">
                <SubjectArgument name="numerator" ref="vapoth" />
                <SubjectArgument name="denominator" ref="vap" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_vapoth_thresh" type="district"
                calculator="redistricting.calculators.Threshold"
                label="Other VAP Threshold">
                <ScoreArgument name="value" ref="district_25_vapoth_percent" />
                <Argument name="threshold" value="0.5" />
            </ScoreFunction>

            <ScoreFunction id="district_24_vaptwo_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Two+ Races VAP">
                <SubjectArgument name="numerator" ref="vaptwo" />
                <SubjectArgument name="denominator" ref="vap" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_vaptwo_thresh" type="district"
                calculator="redistricting.calculators.Threshold"
                label="Two+ Races VAP Threshold">
                <ScoreArgument name="value" ref="district_24_vaptwo_percent" />
                <Argument name="threshold" value="0.5" />
            </ScoreFunction>

            <ScoreFunction id="district_26_prison_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Incarcerated">
                <SubjectArgument name="numerator" ref="prison" />
                <SubjectArgument name="denominator" ref="vap" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_prison_thresh" type="district"
                calculator="redistricting.calculators.Threshold"
                label="Incarcerated Threshold">
                <ScoreArgument name="value" ref="district_26_prison_percent" />
                <Argument name="threshold" value="0.5" />
            </ScoreFunction>

            <ScoreFunction id="district_27_votedem_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Registered Democrat">
                <SubjectArgument name="numerator" ref="votedem" />
                <SubjectArgument name="denominator" ref="vap" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_votedem_thresh" type="district"
                calculator="redistricting.calculators.Threshold"
                label="Registered Democrat Threshold">
                <ScoreArgument name="value" ref="district_27_votedem_percent" />
                <Argument name="threshold" value="0.5" />
            </ScoreFunction>

            <ScoreFunction id="district_28_voterep_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Registered Republican">
                <SubjectArgument name="numerator" ref="voterep" />
                <SubjectArgument name="denominator" ref="vap" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_voterep_thresh" type="district"
                calculator="redistricting.calculators.Threshold"
                label="Registered Republican Threshold">
                <ScoreArgument name="value" ref="district_28_voterep_percent" />
                <Argument name="threshold" value="0.5" />
            </ScoreFunction>

            <ScoreFunction id="district_29_voteoth_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Registered Other">
                <SubjectArgument name="numerator" ref="voteoth" />
                <SubjectArgument name="denominator" ref="vap" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_voteoth_thresh" type="district"
                calculator="redistricting.calculators.Threshold"
                label="Registered Other Threshold">
                <ScoreArgument name="value" ref="district_29_voteoth_percent" />
                <Argument name="threshold" value="0.5" />
            </ScoreFunction>

            <ScoreFunction id="district_15_white_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="White Population">
                <SubjectArgument name="numerator" ref="popwnh" />
                <SubjectArgument name="denominator" ref="poptot" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_12_black_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Black Population" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="popblk" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="district_13_hispanic_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Hispanic Population" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="pophisp" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="district_11_asian_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Asian Population" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="popasn" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="district_10_amer_ind_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="American Indian/Alaskan Native" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="popnam" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="district_14_native_pac_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Native Hawaiian/Pacific Islander" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="poppild" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="district_17_other_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Other Race" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="popoth" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="district_16_two_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Two or more races" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="poptwo" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="district_04_ageu18_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="Under 18">
                <SubjectArgument name="numerator" ref="ageu18" />
                <SubjectArgument name="denominator" ref="poptot" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_05_age1824_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="18-24">
                <SubjectArgument name="numerator" ref="age1824" />
                <SubjectArgument name="denominator" ref="poptot" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_06_age2534_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="25-34">
                <SubjectArgument name="numerator" ref="age2534" />
                <SubjectArgument name="denominator" ref="poptot" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_07_age3549_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="35-49">
                <SubjectArgument name="numerator" ref="age3549" />
                <SubjectArgument name="denominator" ref="poptot" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_08_age5064_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="50-64">
                <SubjectArgument name="numerator" ref="age5064" />
                <SubjectArgument name="denominator" ref="poptot" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="district_09_age65o_percent" type="district"
                calculator="redistricting.calculators.Percent"
                label="65+">
                <SubjectArgument name="numerator" ref="age65o" />
                <SubjectArgument name="denominator" ref="poptot" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <!-- Leaderboard functions -->
            <ScoreFunction id="congress_plan_count_districts" type="plan"
                calculator="redistricting.calculators.CountDistricts"
                label="Count Districts"
                description="The number of districts in a Congressional redistricting plan must be 18.">
                <Argument name="target" value="18" />
            </ScoreFunction>

            <ScoreFunction id="congress_plan_equipopulation_validation" type="plan"
                calculator="redistricting.calculators.Equipopulation"
                label="Target Population (705,688)"
                description="The population of each Congressional district must be 705,688 +/- 0.5%.">
                <Argument name="min" value="702160"/>
                <Argument name="max" value="709216"/>
                <SubjectArgument name="value" ref="poptot"/>
                <Argument name="validation" value="1"/>
            </ScoreFunction>

            <ScoreFunction id="A_congress_plan_equipopulation_summary" type="plan"
                calculator="redistricting.calculators.Equipopulation"
                label="Target Population (705,688)"
                description="The population of each Congressional district must be 705,688 +/- 0.5%.">
                <Argument name="min" value="702160"/>
                <Argument name="max" value="709216"/>
                <SubjectArgument name="value" ref="poptot"/>
                <Argument name="target" value="18"/>
            </ScoreFunction>

            <ScoreFunction id="plan_all_tracts_assigned" type="plan"
                calculator="redistricting.calculators.AllBlocksAssigned"
                label="All Tracts Assigned"
                description="All tracts in the plan must be assigned.">
            </ScoreFunction>

            <ScoreFunction id="plan_all_contiguous" type="plan"
                calculator="redistricting.calculators.AllContiguous"
                label="All Contiguous"
                description="Contiguity means that every part of a district must be reachable from every other part without crossing the district&apos;s borders. All districts within a plan must be contiguous.">
            </ScoreFunction>

            <ScoreFunction id="C_congress_plan_competitiveness" type="plan"
                calculator="redistricting.calculators.Competitiveness"
                label="Competitiveness"
                description="Each plan&apos;s overall political competitiveness is determined by averaging each district.s &apos;partisan differential&apos;.  The partisan differential of each district is calculated by subtracting the Democratic &apos;partisan index&apos; from the Republican &apos;partisan index&apos;.&lt;br/&gt;&lt;br/&gt;&apos;Heavily&apos; competitive districts are districts with partisan differentials of less than or equal to 5%. &apos;Generally&apos; competitive districts are districts with partisan differentials of greater than 5% but less than 10%.">
                <SubjectArgument name="democratic" ref="votedem" />
                <SubjectArgument name="republican" ref="voterep" />
                <Argument name="target" value="18"/>
            </ScoreFunction>

            <ScoreFunction id="congress_plan_competitiveness_leaderboard" type="plan"
                calculator="redistricting.calculators.Competitiveness"
                label="Competitiveness"
                description="Each plan&apos;s overall political competitiveness is determined by averaging each district.s &apos;partisan differential&apos;.  The partisan differential of each district is calculated by subtracting the Democratic &apos;partisan index&apos; from the Republican &apos;partisan index&apos;.&lt;br/&gt;&lt;br/&gt;&apos;Heavily&apos; competitive districts are districts with partisan differentials of less than or equal to 5%. &apos;Generally&apos; competitive districts are districts with partisan differentials of greater than 5% but less than 10%.">
                <SubjectArgument name="democratic" ref="votedem" />
                <SubjectArgument name="republican" ref="voterep" />
            </ScoreFunction>

            <ScoreFunction id="D_congress_plan_vapnownh_thresh" type="plan"
                calculator="redistricting.calculators.SumValues"
                label="Majority-Minority">
                <ScoreArgument name="value1" ref="district_vapnownh_thresh" />
                <Argument name="target" value="18"/>
            </ScoreFunction>

            <ScoreFunction id="congress_plan_splits_count" type="plan"
                calculator="redistricting.calculators.SplitCounter"
                label="Split Counties"
                description="The number of counties that are split by a district within the plan."
            >
                <!-- 2 is the County level for this config -->
                <Argument name="boundary_id" value="geolevel.2" />
                <Argument name="only_total" value="1" />
            </ScoreFunction>

            <ScoreFunction id="E_congress_plan_polsbypopper" type="plan"
                calculator="redistricting.calculators.PolsbyPopper"
                label="Compactness"
                description="The competition is using the &apos;Polsby-Popper&apos; compactness measure. This measure is a ratio of the area of a circle with the same perimeter as a district to the area of the district." >
            </ScoreFunction>

            <ScoreFunction id="F_congress_plan_equivalence" type="plan"
                calculator="redistricting.calculators.Equivalence"
                label="Population Equivalence"
                description="The Equipopulation score is the difference between the district with the highest population and the district with the lowest population.">
                <SubjectArgument name="value" ref="poptot" />
            </ScoreFunction>

            <!-- Calculator Reports configuration -->
            <ScoreFunction id="report_score_total_population_congress" type="district"
                calculator="redistricting.reportcalculators.Population"
                label="Total Population" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="value" ref="poptot" />
                <Argument name="min" value="702160" />
                <Argument name="max" value="709216" />
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_white_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="White Population">
                <SubjectArgument name="numerator" ref="popwnh" />
                <SubjectArgument name="denominator" ref="poptot" />
                <LegislativeBody ref="congress"/>
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_black_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="Black Population" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="popblk" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_hispanic_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="Hispanic Population" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="pophisp" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_asian_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="Asian Population" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="popasn" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_amer_ind_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="American Indian/Alaskan Native" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="popnam" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_pacific_islander_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="Native Hawaiian/Pacific Islander" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="poppild" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_other_races_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="Other Race" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="popoth" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_two_races_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="Two or more races" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="poptwo" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_age0018_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="Ages under 18" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="ageu18" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_age1824_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="Ages 18-24" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="age1824" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_age2534_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="Ages 25-34" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="age2534" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_age3549_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="Ages 35-49" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="age3549" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_age5064_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="Ages 50-64" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="age5064" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="report_score_percent_age65o_population_congress" type="district"
                calculator="redistricting.reportcalculators.PopulationPercent"
                label="Ages 65+" >
                <LegislativeBody ref="congress"/>
                <SubjectArgument name="numerator" ref="age65o" />
                <SubjectArgument name="denominator" ref="poptot" />
            </ScoreFunction>

            <ScoreFunction id="report_score_compactness_lw" type="district"
                calculator="redistricting.reportcalculators.Compactness"
                label="Length/Width" >
                <LegislativeBody ref="congress"/>
                <Argument name="comptype" value="LengthWidth" />
            </ScoreFunction>

            <ScoreFunction id="report_score_compactness_sc" type="district"
                calculator="redistricting.reportcalculators.Compactness"
                label="Schwartzberg" >
                <LegislativeBody ref="congress"/>
                <Argument name="comptype" value="Schwartzberg" />
            </ScoreFunction>

            <ScoreFunction id="report_score_compactness_pp" type="district"
                calculator="redistricting.reportcalculators.Compactness"
                label="Polsby-Popper" >
                <LegislativeBody ref="congress"/>
                <Argument name="comptype" value="PolsbyPopper" />
            </ScoreFunction>

            <ScoreFunction id="report_score_compactness_ro" type="district"
                calculator="redistricting.reportcalculators.Compactness"
                label="Roeck" >
                <LegislativeBody ref="congress"/>
                <Argument name="comptype" value="Roeck" />
            </ScoreFunction>

            <ScoreFunction id="report_score_unassigned" type="plan"
                calculator="redistricting.reportcalculators.Unassigned"
                label="Unassigned Tracts" >
                <LegislativeBody ref="congress"/>
            </ScoreFunction>
        </ScoreFunctions>

        <ScorePanels>
            <!-- Leaderboard -->
            <ScorePanel id="panel_compact_all" type="plan" position="1"
                title="Compactness" template="leaderboard_panel_all.html"
                is_ascending="false">
                <Score ref="E_congress_plan_polsbypopper" />
            </ScorePanel>

            <ScorePanel id="panel_compact_mine" type="plan" position="1"
                title="Compactness" template="leaderboard_panel_mine.html"
                is_ascending="false">
                <Score ref="E_congress_plan_polsbypopper" />
            </ScorePanel>

            <ScorePanel id="panel_equivalence_all" type="plan" position="2"
                title="Equivalence" template="leaderboard_panel_all.html"
                is_ascending="true">
                <Score ref="F_congress_plan_equivalence" />
            </ScorePanel>

            <ScorePanel id="panel_equivalence_mine" type="plan" position="2"
                title="Equivalence" template="leaderboard_panel_mine.html"
                is_ascending="true">
                <Score ref="F_congress_plan_equivalence" />
            </ScorePanel>

            <ScorePanel id="panel_competitiveness_all" type="plan" position="3"
                title="Competitiveness" template="leaderboard_panel_all.html"
                is_ascending="false">
                <Score ref="congress_plan_competitiveness_leaderboard" />
            </ScorePanel>

            <ScorePanel id="panel_competitiveness_mine" type="plan" position="3"
                title="Competitiveness" template="leaderboard_panel_mine.html"
                is_ascending="false">
                <Score ref="congress_plan_competitiveness_leaderboard" />
            </ScorePanel>

            <!-- Summary above all sidebar panels -->
            <ScorePanel id="congressional_panel_summary" type="plan_summary" position="1"
                title="Plan Summary" cssclass="plan_summary congressional" template="plan_summary.html">
                <Score ref="A_congress_plan_equipopulation_summary"/>
                <Score ref="B_congress_plan_noncontiguous"/>
                <Score ref="E_congress_plan_polsbypopper"/>
                <Score ref="F_congress_plan_equivalence"/>
                <Score ref="C_congress_plan_competitiveness"/>
                <Score ref="D_congress_plan_vapnownh_thresh"/>
            </ScorePanel>

            <!-- Basic Information -->
            <ScorePanel id="congressional_panel_info" type="district" position="2"
                title="Basic Information" cssclass="district_basic_info congressional"
                template="basic_information.html">
                <Score ref="congressional_population" />
                <Score ref="district_02_contiguous" />
                <Score ref="district_03_polsbypopper" />
            </ScorePanel>

        <!-- Submission One-page Summary -->
            <ScorePanel id="plan_submission_summary" type="plan_summary" position="1"
                title="Plan Summary" cssclass="plan_summary congressional" template="plan_summary.html">
                <Score ref="A_congress_plan_equipopulation_summary"/>
                <Score ref="B_congress_plan_noncontiguous"/>
                <Score ref="E_congress_plan_polsbypopper"/>
                <Score ref="F_congress_plan_equivalence"/>
                <Score ref="C_congress_plan_competitiveness"/>
                <Score ref="D_congress_plan_vapnownh_thresh"/>
                <Score ref="congress_plan_splits_count" />
            </ScorePanel>

            <!-- Demographics -->
            <ScorePanel id="congressional_panel_demo" type="district" position="2"
                title="Demographics" cssclass="district_demographics congressional"
                template="demographics.html">
                <Score ref="district_12_black_percent" />
                <Score ref="district_13_hispanic_percent" />
                <Score ref="district_11_asian_percent" />
            </ScorePanel>

            <!-- Competitiveness -->
            <ScorePanel id="congressional_panel_competitiveness" type="district" position="2"
                title="Competitiveness" cssclass="district_competitiveness congressional"
                template="competitiveness.html">
                <Score ref="district_27_votedem_percent" />
                <Score ref="district_28_voterep_percent" />
                <Score ref="district_29_voteoth_percent" />
            </ScorePanel>

            <!-- Calculator Reports configuration -->
            <ScorePanel id="report_panel_population" type="district" position="2"
                title="Population" template="report_panel.html" cssclass="reports population" >
                <Score ref="report_score_total_population_congress" />
                <Score ref="report_score_percent_white_population_congress" />
                <Score ref="report_score_percent_black_population_congress" />
                <Score ref="report_score_percent_hispanic_population_congress" />
                <Score ref="report_score_percent_asian_population_congress" />
                <Score ref="report_score_percent_amer_ind_population_congress" />
                <Score ref="report_score_percent_pacific_islander_population_congress" />
                <Score ref="report_score_percent_other_races_population_congress" />
                <Score ref="report_score_percent_two_races_population_congress" />
                <Score ref="report_score_percent_age0018_population_congress" />
                <Score ref="report_score_percent_age1824_population_congress" />
                <Score ref="report_score_percent_age2534_population_congress" />
                <Score ref="report_score_percent_age3549_population_congress" />
                <Score ref="report_score_percent_age5064_population_congress" />
                <Score ref="report_score_percent_age65o_population_congress" />
            </ScorePanel>

            <ScorePanel id="report_panel_compactness" type="district" position="1"
                title="Compactness" template="report_panel.html" cssclass="reports compactness">
                <Score ref="report_score_compactness_pp" />
            </ScorePanel>

            <ScorePanel id="report_panel_spatial" type="plan" position="5"
                title="Spatial Analysis" template="report_panel_plan_with_count.html" cssclass="reports spatial">
                <Score ref="report_score_unassigned" />
            </ScorePanel>
        </ScorePanels>

        <ScoreDisplays>
            <ScoreDisplay id="congress_leader_all" legislativebodyref="congress" type="leaderboard"
                title="Congressional Leaderboard - All" cssclass="leaderboard congress">
                <ScorePanel ref="panel_compact_all" />
                <ScorePanel ref="panel_equivalence_all" />
                <ScorePanel ref="panel_competitiveness_all" />
            </ScoreDisplay>
            <ScoreDisplay id="congress_leader_mine" legislativebodyref="congress" type="leaderboard"
                title="Congressional Leaderboard - Mine" cssclass="leaderboard congress">
                <ScorePanel ref="panel_compact_mine" />
                <ScorePanel ref="panel_equivalence_mine" />
                <ScorePanel ref="panel_competitiveness_mine" />
            </ScoreDisplay>

            <ScoreDisplay id="congress_submission_summary" legislativebodyref="congress" type="sidebar"
                title="Split Counties">
                <ScorePanel ref="plan_submission_summary" />
            </ScoreDisplay>

             <!-- Sidebar configuration -->
            <ScoreDisplay id="congress_sidebar_basic" legislativebodyref="congress" type="sidebar" title="Basic Information" cssclass="basic_information">
                <ScorePanel ref="congressional_panel_summary" />
                <ScorePanel ref="congressional_panel_info" />
            </ScoreDisplay>

            <ScoreDisplay id="congress_sidebar_demo" legislativebodyref="congress" type="sidebar" title="Demographics" cssclass="demographics">
                <ScorePanel ref="congressional_panel_summary" />
                <ScorePanel ref="congressional_panel_demo" />
            </ScoreDisplay>

            <ScoreDisplay id="congress_sidebar_competitiveness" legislativebodyref="congress" type="sidebar" title="Competitiveness" cssclass="competitiveness">
                <ScorePanel ref="congressional_panel_summary" />
                <ScorePanel ref="congressional_panel_competitiveness" />
            </ScoreDisplay>

            <!-- Calculator Reports configuration -->
            <ScoreDisplay id="congress_reports" legislativebodyref="congress" type="reports"
                title="Congressional Reports" cssclass="reports congress">
                <ScorePanel ref="report_panel_population" />
                <ScorePanel ref="report_panel_compactness" />
                <ScorePanel ref="report_panel_spatial" />
            </ScoreDisplay>
        </ScoreDisplays>
    </Scoring>

    <Validation>
        <Criteria legislativebodyref="congress">
            <Criterion id="congress-equipop" name="Equipopulation - Congress"
                description="&lt;p&gt;Your plan does not meet the competition criteria for Equipopulation:&lt;/p&gt;&lt;p&gt;The population of each Congressional district must be 705,688 +/- 0.5%.&lt;/p&gt;">
                <Score ref="congress_plan_equipopulation_validation" />
            </Criterion>
            <Criterion id="congress-contiguous" name="AllContiguous - Congress"
                description="&lt;p&gt;Your map does not meet the constitutional criteria for contiguity.&lt;/p&gt;&lt;p&gt;Each mapping unit must be connected to a district. No assigned unit can be disconnected from the rest of its district. All districts within a map must be contiguous.">
                <Score ref="plan_all_contiguous" />
            </Criterion>
            <Criterion id="congress-district-count" name="CountDistricts - Congress" description="">
                <Score ref="congress_plan_count_districts" />
            </Criterion>
            <Criterion id="congress-assigned" name="AllTractsAssigned - Congress" description="">
                <Score ref="plan_all_tracts_assigned" />
            </Criterion>
        </Criteria>
    </Validation>

    <GeoLevels>
      <GeoLevel id="tract" name="tract" label="tract" min_zoom="2" sort_key="2" tolerance="5">
          <Shapefile path="/data/tracts_3785.shp">
              <Fields>
                  <Field name="TRACTCE" type="name"/>
                  <Field name="GEOID" type="portable"/>
                  <Field name="COUNTYFP" type="tree" pos="0" width="3"/>
                  <Field name="GEOID" type="tree" pos="1" width="11"/>
              </Fields>
          </Shapefile>
      </GeoLevel>

      <GeoLevel id="county" name="county" label="county" min_zoom="0" sort_key="1" tolerance="250">
          <Shapefile path="/data/counties_3785_names.shp">
              <Fields>
                  <Field name="countyName" type="name" />
                  <Field name="COUNTYFP" type="portable" />
                  <Field name="COUNTYFP" type="tree" pos="0" width="3"/>
            </Fields>
          </Shapefile>
      </GeoLevel>
    </GeoLevels>

    <Templates>
        <Template name="Old Congressional">
            <LegislativeBody ref="congress"/>
            <Blockfile path="/data/pa-congress-old.csv" />
        </Template>
        <Template name="New Congressional">
            <LegislativeBody ref="congress"/>
            <Blockfile path="/data/pa-congress-new.csv" />
        </Template>
    </Templates>

    <Project sessionquota="5000" sessiontimeout="15">
        <Internationalization timezone="US/Eastern" default="en">
            <Language code="en" label="English" />
        </Internationalization>
        <Redistricting>
            <MapServer
                ns="pmp"
                nshref="https://github.com/PublicMapping/"
                basemaps="arc-topo,arc-road,mapbox-municipality"
                maxfeatures="500" />
            <Upload maxsize="5300"/>
            <FixUnassigned minpercent="99" comparatorsubject="poptot" />
        </Redistricting>
        <Mailer submission_email="info+drawthelinespadev@azavea.com" />
    </Project>
</DistrictBuilder>
