#shared_district_map_div {
    height:200px;
    width:200px;
}

#available_statistics {
    height:300px;
    overflow-y: scroll;
}

#saved_statistics_sets button {
    float:right;
}

.statistics_set {
    border: 1px black;
    -moz-border-radius:3px;
    border-radius:3px;
    background:lightblue;
    padding: 3px;
    margin-top:3px;
}
