upstream web {
  server django:${WEB_APP_PORT};
}

upstream geoserver {
  server geoserver:${WEB_APP_PORT};
}

server {
  listen ${WEB_APP_PORT};
  server_name localhost;

  location / {
    proxy_pass http://web;
  }

  location /geoserver/ {
    proxy_pass http://geoserver/geoserver/;
  }

  location /sld/ {
    alias /opt/sld/;
  }

  location /static/ {
    alias /opt/static/;
  }

  location /reports/ {
    alias /opt/reports/;
  }
}
