<html>
  <head>
    <title>YUP</title>
    <link rel="stylesheet" type="text/css" href="/site-media/publicmapping.css"/>
    
  </head>
  <body>
    <div id="welcome_header">
      <p>&nbsp;</p>
      <h1>District Mapping</h1>
      <h2>Draw Your Own Legislative Districts</h2>
      <p>&nbsp;</p>
    </div>

    <div id="tour_news">
      <div id="take_a_tour">
        <p>New to Redistricting?</p>
        <p>Take a Tour</p>
      </div>

      <div id="news">
        <ul>
          <li>6/21/2010 - First web page written.</li>
          <li>6/18/2010 - Commit #1!</li>
        </ul>
      </div>
    </div>

    <div id="user">
      <h2>Get Started</h2>

      <div id="login">
        <h3>Log In</h3>
      </div>

      <div id="signup">
        <h3>Don't have an account?</h3>
      </div>
    </div>
  </body>
</html>
