{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block title %}{% trans "Upload Subject template" %}{% endblock %}

{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% if is_processing %}
<script type="text/javascript" src="/static-media/jquery/jquery-1.6.js"></script>
<script type="text/javascript">
$(function(){
    var statusInterval = 0;
    var getStatusUpdate = function(){
        $.ajax({
            type:'get',
            url: $('#id_task_uuid').val() + '/status/',
            dataType: 'json',
            success: function(data, txtStatus, xhr) {
                if (data.state == 'SUCCESS') {
                    $('#upload_status_messages').empty();
                    for (var i = 0; i < data.info.messages.length; i++) {
                        $('#upload_status_messages').append('<p>' + data.info.messages[i] + '</p>');
                    }

                    if (data.info.task_id !== null) {
                        $('#id_task_uuid').val(data.info.task_id);
                    }
                    else {
                        $('#li3').css('font-weight','normal');
                        $('#li4').css('font-weight','bold');
                        $('#step3').css('display','none');
                        $('#step4').css('display','block');
                        $('#upload_status_messages').removeClass('loading');
                        $('#upload_status_messages').append('<p>Subject ingest successful! Press "Continue" to edit the Subject details.</p>');
                        $('#processing_continue').attr('disabled', false);
                        $('#processing_continue').val('{% trans "Continue" %}');
                        $('#processing_continue').click(function(){ window.location.href='../' + data.info.subject;});
                        clearInterval(statusInterval);
                    }
                }
                else if (data.state == 'FAILURE') {
                    $('#upload_status_messages').removeClass('loading');
                    $('#upload_status_messages').append('<p>Sorry! This processing step failed with the following error message: ' + data.info + '</p>');
                    $('#processing_continue').attr('disabled', false);
                    $('#processing_continue').val('{% trans "Retry" %}');
                    $('#processing_continue').click(function(){ window.location.href='../add/'; });
                    clearInterval(statusInterval);
                }
            },
            error: function(xhr, txtStatus, error) {
                $('#upload_status_messages').removeClass('loading');
                $('#upload_status_messages').empty();
                $('#upload_status_messages').append('<p>Could not retrieve task status.</p>');
                clearInterval(statusInterval);
            }
        });
    };

    statusInterval = setInterval(getStatusUpdate, 15000);
});
</script>
{% endif %}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
<style type="text/css">
    .loading {
        background: url("/static-media/images/chooser-loading.gif") no-repeat scroll 0 0 transparent;
    }
    #upload_status_messages {
        padding-left: 65px;
        padding-bottom: 2px;
    }
</style>{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content_title %}<h1>{% trans "Upload Subject template" %}</h1>{% endblock %}

{% block content %}
    <div id="content-main">
    <p>A Subject in DistrictBuilder has relationships with many objects in the application. For this reason, adding a Subject requires a few extra steps. The following forms will walk you through the process of:</p>
    <ol>
        <li>Downloading a Subject template file (CSV)</li>
        <li><span id="li2" style="font-weight:{% if is_processing %}normal{% else %}bold{% endif %};">Uploading a complete Subject file (CSV)</span></li>
        <li><span id="li3" style="font-weight:{% if is_processing %}bold{% else %}normal{% endif %};">Verifying the uploaded Subject file.</span></li>
        <li><span id="li4">Configuring the settings for the uploaded Subject.</span></li>
    </ol>
    <div id="step2" style="display:{% if is_processing %}none{% else %}block{% endif %};">
    <h2>2. Uploading a complete Subject file</h2>
    <p>Using the file field below, please select the populated Subject template file, and upload the Subject template file with the 'Upload' button below.</p>
    </div>
    <div id="step3" style="display:{% if is_processing %}block{% else %}none{% endif %};">
    <h2>3. Verifying the uploaded Subject file</h2>
    <p>Please wait while the uploaded Subject file is checked for consistency and alignment with the currently loaded data. This may take up to 15 minutes, so please wait until the process completes before leaving this page.</p>
    </div>
    <div id="step4" style="display:none;">
    <h2>4. Configuring the settings for the uploaded Subject.</h2>
    <p>The verification steps are complete, you may proceed to the Subject change form to complete filling in the Subject details.</p>
    </div>
    <form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">
        {% csrf_token %}
        <table>
        {{ upload_form.as_table }}
        </table>
        {% if is_processing %}
        <div id="upload_status_messages" class="{% if is_processing %}loading{% endif %}">
            <p>Verifying counts of uploaded subjects...</p>
        </div>
        <input type="button" value="{% trans "Please Wait ..." %}" id="processing_continue" disabled="true" />
        {% else %}
        <input type="submit" value="{% trans "Upload" %}" />
        {% endif %}
    </form>
    </div>
{% endblock %}
