{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block title %}{% trans "Upload Subject template" %}{% endblock %}

{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content_title %}<h1>{% trans "Upload Subject template" %}</h1>{% endblock %}

{% block content %}
    <div id="content-main">
    <p>A Subject in DistrictBuilder has relationships with many objects in the application. For this reason, adding a Subject requires a few extra steps. The following forms will walk you through the process of:</p>
    <ol>
        <li>Downloading a Subject template file (CSV)</li>
        {% if is_processing %}
        <li>Uploading a complete Subject file (CSV)</li>
        <li><b>Verifying the uploaded Subject file.</b></li>
        {% else %}
        <li><b>Uploading a complete Subject file (CSV)</b></li>
        <li>Verifying the uploaded Subject file.</li>
        {% endif %}
        <li>Configuring the settings for the uploaded Subject.</li>
    </ol>
    <h2>2. Uploading a complete Subject file</h2>
    <p>Using the file field below, please select the populated Subject template file, and upload the Subject template file with the 'Upload' button below.</p>
    <form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">
        {% csrf_token %}
        <table>
        {{ upload_form.as_table }}
        </table>
        <input type="submit" value="{% trans "Upload and Verify" %}" />
    </form>
    </div>
{% endblock %}
