html {
    height: 100%;
    width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

body#static {  background: url(/site-media/images/bg-body-home.png) 0 0 repeat-x;}
body#app {  background: url(/site-media/images/bg-app.png) 0 0 repeat;}

.clear_left  {clear:left}
.clear_right {clear: right}
.clear  {clear: both}

div.static_wrap {
  width: 906px;
  margin: 0 auto;
  }

div#static_header {
  padding: 50px 0 20px;
  margin: 0 0 20px;
  background: url(/site-media/images/divider.png) 0 100% repeat-x;
}  
div#app_header {
  padding: 0;
  margin: 0 10px;
} 
div#logo {
  float: left;
}

#app div#logo {
  margin: 15px 0 0 5px
}

div#site_nav {
  float:right;
}
div#site_nav a {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  background: url(/site-media/images/divider-vert.png) 100% 0 repeat-y; 
  padding: 10px 15px;
  
}

div#site_nav a.last {
  background: none;
  padding-right: 0;
}

div#site_nav li {
  list-style: none; 
  display: inline;
}

div#banner {
  clear:both;
  -moz-box-shadow: 0 0 40px #5d8c96;
  -webkit-box-shadow:0 0 40px #5d8c96;
  box-shadow: 0 0 40px #5d8c96;
}

div#body_box {
  position:relative;
  text-align: left;
  margin: 30px 0 0 0 ; 
}
div#tour_news {
  width: 300px;
  margin: 0 35px 0 0;
  float: left;
}
div#tour_news ul {margin-left: 15px;}

div#news {
  text-align:left;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}


div#news span {
    font-weight: bold;
    padding: 3px;
}
div#news h3 {
  font-size: 21px; 
  line-height: 26px;
  color: #e1e8b1;
  margin: 0 0 12px 0; 
  font-weight: bold;
}

#static button {
    background-image: url(/site-media/images/bg-button-lg.png);
    background-position: center center;
    background-repeat: repeat-x;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 -1px #333;
    color: #fff;
    }

#static button#new_to_redistricting {
  margin-top: 15px;
  width:90%;
  background-color: #1f8cbe;
  padding: 3px 0;
  font-size: 13px;
  font-weight:bold;
  line-height: 15px;
}
#static button#new_to_redistricting .take_a_tour {
  font-size: 24px;
  line-height: 26px;
}

#static button#login {
  background-color: #be801f;
  font-size: 20px;
}

#static button#sign_up {
  font-size: 16px;
  background-color: #39a787;
}

#static button#doAnonymous {
  font-size: 16px;
  background-color: #3a80a0;
}


div#user {
  background: url(/site-media/images/bg-home-panel.png) 0 0 repeat-x;
  margin-left: 330px;
  height: 253px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   border-radius: 5px;
  -moz-box-shadow: 0 0 40px #95bec6;
  -webkit-box-shadow:0 0 40px #95bec6;
  box-shadow: 0 0 40px #95bec6;
}
div#user h2 {
  margin-left: 5px;
}

div#user button {width: 100%;}

div #user p {
  margin-top: 15px;
}

div#user a {
  color: #fff;
  text-decoration: underline;
  font-size: 11px;
  font-weight: bold;
  }

div#login {
  float: left;
  width: 240px;
  background: url(/site-media/images/divider-vert.png) 100% 0 repeat-y;
  padding: 0 20px;
  height: 100%;
}

div#login h3 {
  margin: 20px 0 10px;
  font-size:  20px;
  color: #fff;
  font-weight: bold;
}
div#login input {
  padding: 0 0 0 8px;
  width: 230px;
  height: 34px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px
  border-radius: 8px;

  }

div.rightlink {
    text-align: right;
    font-size: 0.8em;
}
input#loginbutton {
}
div#signup {
  margin: 0 0 0 20px;
  float:left;
}
div#signup h3 {
  margin-top: 20px;
  font-size:  20px;
  color: #fff;
  font-weight: bold;
}
div#signup h4 {
  margin: 10px 0 7px;
  font-size:  14px;
  color: #e0e7b2;
  font-weight: bold;
}
div#signUpButton {
    text-align: right;
}
div#ordiv {
    margin: 10px auto;
}
div#register {
  display:none;
  font-size: 14px;
  color: #6a6a6a;
  font-weight: bold;
}

form#registerForm input.field, form#registerForm input.error {
      padding: 0 0 0 8px;
  width: 230px;
  height: 30px;
  border: 1px solid #ccc;
  margin: 0 0 10px 15px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px
  border-radius: 8px;
}
form#registerForm input.error {
    border: solid 1px #ff0000;
}
table#registerTable {
    margin-bottom: 0.8em;
}
td.fname {
    white-space:nowrap;
    vertical-align: top;
    font-weight: bold;
}
span.recommended {
    font-size: 0.75em;
    text-align: center;
}
label.required {
    color: #ff0000;
}
div#requiredNote {
    font-size: 0.75em;
    text-align: left;
}
div#footer {
clear: both;
margin: 20px 0 0 0;
background: url(/site-media/images/divider.png) 0 0 repeat-x;
padding: 20px 0 0 0;
}
div#copyright {
  float:left;
  color: #474747;
  font-size: 11px;
  font-weight:bold;
}
div #sponsors {
  float:right;
}


/* mapping styles */

div#steps {
background:none repeat scroll 0 0 transparent;
border:medium none;
bottom:10px;
left:10px;
padding:0;
position:absolute;
right:10px;
top:50px;
}
ul#steps_tabs {
  background:none;
  border:none;
  padding:0;
}

li#tab_step1 {background-color: #93B6B2}
li#tab_step2 {background-color: #87ae8b}
li#tab_step3 {background-color: #acae87}

div#step-1 .toolbar { background: url(/site-media/images/bg-toolbar.png) 0 0 repeat-x #87aea9}
div#step-2 .toolbar {background: url(/site-media/images/bg-toolbar.png) 0 0 repeat-x  #87ae8b}
div#step-3 .toolbar {background: url(/site-media/images/bg-toolbar.png) 0 0 repeat-x #acae87}

ul#steps_tabs li {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  font-size: 14px;
  font-weight: bold;
  margin: 0 7px 0 0;
  border: none;
  background-image: url(/site-media/images/bg-tab-inactive.png) ;
  background-position:0 0;
  background-repeat:repeat-x;
}

ul#steps_tabs li.ui-state-default.ui-tabs-selected {
background-image:none
}

ul#steps_tabs li a {
color: #fff
}

input#drawbtn {
    color: #ffffff;
    border: 1px solid #000000;
    background-color: #ff8800;
}
input#evalbtn, input#sharebtn {
    color: #000000;
    border: 1px solid #000000;
    background-color: #dddddd;
}



/*choose a plan overlay */

div#PlanChooser {
  margin: -10px -5px 0 -3px;
  padding:0;
  height: 250px !important;
  overflow:hidden;
}

ul#TemplateTypeButtons {

  width: 170px;
  float:left;
  overflow:hidden;
  height: 100%;
  background: #eee;
  -moz-border-radius: 0 0 0 10px ;
  -webkit-border-radius:   0 0 0 10px;
  border-radius:   0 0 0 10px;
  
}

ul#TemplateTypeButtons li {
  color:#fff;
  background-color:#8BD1BC;
  border-bottom:1px solid #FFFFFF;
  cursor:pointer;
  display:block;
  font-size:14px;
  font-weight:bold;
  padding:13px 0;
  text-align:center;
  position:relative;
  background-image: url(/site-media/images/bg-button-lg.png);
  background-position: center center;
  background-repeat:  repeat-x;
  }
ul#TemplateTypeButtons li:hover {
  background-color: #98dbc7;
  }
  
ul#TemplateTypeButtons li.active {
  color:#333;
  background-image:none;
  background-color: #fff;
  -moz-box-shadow: 0 0 20px -5px #000000;
  -webkit-box-shadow: 0 0 20px -5px #000000;
  box-shadow: 0 0 20px -5px #000000;  
  z-index:10;
}
  
div#TemplateTypeContent {
  background-color:#FFFFFF;
  float:left;
  font-size:12px;
  height:100%;
  margin-top:0;
  padding:0 15px;
  position:relative;
  width:408px;
  overflow:auto;
  -moz-box-shadow: 0 0 20px -5px #000000;
  -webkit-box-shadow: 0 0 20px -5px #000000; 
  box-shadow: 0 0 20px -5px #000000;   
}  

div#TemplateTypeContent label {
display:block;
font-size:14px;
font-weight:bold;
margin-bottom:5px;
}


div #TemplateTypeContent div {
   margin-top: 15px;
}
  
div#PlanChooser button#btnSelectPlan {display:none; margin-top: 15px; font-size: 14px;}


div#SharedSelection, div#SelectorsHelp{
  font-size: 16px;
  font-weight:bold;
}


/* toolbar buttonsset stying */




div#toolbar_plans {
    background: url(/site-media/images/bg-app.png) 0 0 repeat;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 0 0 0 10px;
    -moz-box-shadow: 5px -5px 7px -5px #777;
    -webkit-box-shadow: 5px -5px 7px -5px #777;
    box-shadow: 5px -5px 7px -5px #777;
    -moz-border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
}

  
div#toolbar_plans .planname{
  font-size: 14px;
  font-weight:normal;
  cursor:normal;
  padding-left: 0;
  line-height: 14px;
}
div#toolbar_plans .planname label{font-weight:bold;}

div#toolbar_plans #saveplanbtn {
  background: url(/site-media/images/icon-save.png) 0 0 no-repeat;
  padding-left:20px;
  
}
div#toolbar_plans #difplanbtn {
  background: url(/site-media/images/icon-open.png) 0 0 no-repeat;
  padding-left:20px;
}

div#mapandmenu {
    bottom:0;
    left:0;
    position:absolute;
    right:0;
    top:33px;
}
div#map {
    position: absolute;
    top: 51px;
    left:0;
    right: 0;
    bottom:0;
    background: #ccc;
}

div#shadow_left {
background:url(/site-media/images/map-shadow-left.png) no-repeat scroll 0 0 transparent;
bottom:0;
left:0;
position:absolute;
top:0;
width:11px;
z-index:900;
}

div#shadow_top {
background:url(/site-media/images/map-shadow-top.png) repeat-x scroll 0 0 transparent;
height:11px;
left:11px;
position:absolute;
right:0;
top:0;
z-index:900;
}


div.toolbar {
  height: 51px;
  border: none;
  -moz-border-radius: 0 10px 0 0;
  -webkit-border-radius: 0 10px 0 0;
  border-radius: 0 10px 0 0;
}

div#toolsets {
    position: absolute;
    right: 280px;
    height: 51px;
    left: 0;
    overflow: hidden;
    }
div.toolset {
  width: 100%
  }
    
div.toolset#toolset_draw {
  position:absolute;
  top:51px;
}

div.toolset#toolset_draw .ui-button-icon-only {
text-align:center;
height: 20px;
background-color:#6B8F8B;
background-image:none;
border:1px solid #5F7F7B;
padding:0;
margin-top: 2px
}

div.toolset#toolset_draw .ui-button-icon-only.toggle, div.toolset#toolset_draw .ui-button-icon-only.ui-state-active{
  background:none repeat scroll 0 0 #A8CFCB;
  border:1px solid #DFFFFB;
}
div.toolset#toolset_draw .ui-button-icon-only.ui-state-hover {
  background:none;
  border:1px solid #C2EFE9;
}

div.toolset#toolset_draw .ui-button-icon-only.disabled, div.toolset#toolset_draw .ui-button-icon-only.ui-state-hover.disabled {
opacity: .5;
border:none;
background-color:#6B8F8B;
cursor: not-allowed;
}

div.toolset#toolset_draw .ui-icon {
 margin-top: -12px;
 background-position: 50% 50%;
 background-repeat:none;
}
div.toolset#toolset_draw .ui-icon {
    /* IE specific hack */
    margin-top/*\**/: -8px\9
}

#navigate_map_tool  .ui-icon {
  background-image: url(/site-media/images/icon-pan.png);
}
#identify_map_tool  .ui-icon {
  background-image: url(/site-media/images/icon-identify.png);
}
#single_drawing_tool  .ui-icon {
  background-image: url(/site-media/images/icon-select.png);
}
#rectangle_drawing_tool  .ui-icon {
  background-image: url(/site-media/images/icon-select-rect.png);
}
#polygon_drawing_tool  .ui-icon {
  background-image: url(/site-media/images/icon-select-poly.png);
}
#dragdrop_tool .ui-icon {
  background-image: url(/site-media/images/icon-assign.png);
}
#paint_tool .ui-icon {
  background-image: url(/site-media/images/icon-assign.png);
}
#history_undo .ui-icon {
  background-image: url(/site-media/images/icon-undo.png);
}
#history_redo  .ui-icon {
  background-image: url(/site-media/images/icon-redo.png);
}


div.toolset_group {
  float:left;
  font-size: 11px;
  font-weight:bold;
  cursor:pointer;
  background: url(/site-media/images/divider-vert.png) 100% 0 repeat-y;
  padding: 8px 12px;
  }
  
div#toolset_edit div.toolset_group  {width: 142px }
div#toolset_draw div.toolset_group  {padding-top: 5px; width: auto; }


div.toolset_group.first {padding-left: 0}
div .toolset_group.last {background: none}

div.toolset_group .help{
  float:right;
}

div.toolset_group label {
  font-size: 11px; 
  font-weight:bold;
  color: #fff
}
div.toolset_group select {
  width: 100%;
  font-size: 11px;
  }
div.toolset_group_w select#assign_district {
    width: 100px; 
}
div.toolset .ui-icon {
background-color: transparent;
border:none;
}
    
#app button, .ui-dialog button {
    background-image: url(/site-media/images/bg-button-sm.png);
    background-position: 0 0; 
    background-repeat: repeat-x;
    background-color: #1F8CBE;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 -1px #333;
    color: #fff;
    }

button.toolbar_toggle {
    position:absolute;
    right:0;
    text-transform: uppercase;
    padding: 5px 8px;
    margin-top: 8px;
}

    
button#edit_map_settings ,
button#start_drawing   {
    background-color: #1f8cbe;
    width:145px;
}

div#map_menu {
    float:right;
    margin: 0 10px 0 0;
    height: 100%;
    z-index:1000;
}
div#map_menu_header { 
    background: url(/site-media/images/bg-toolbar.png) 0 0 repeat-x #5b8a62;
    color: #ffffff;
    height: 30px;
    padding: 8px 0;
    cursor: pointer;
    margin-top: 11px;
    width: 262px;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    border-radius:10px 10px 0 0;
    }
div#map_menu_header button.menu_toggle{
    width: 20px;
    height: 20px;
    float:left;
    margin: 2px 0 0 7px;
    background-color: #6B9571;
}
button.menu_toggle .ui-icon {
    margin-top: -11px;
}
button.menu_toggle .ui-icon {
    /* IE hack */
    margin-top/*\**/: -8px\9
}
button.menu_toggle .ui-icon-arrow-right {
background: url(/site-media/images/icon-arrow.png) 4px 0 no-repeat;
}
button.menu_toggle .ui-icon-arrow-down {
background: url(/site-media/images/icon-arrow.png) 2px -14px no-repeat;
}
button#legend_toggle {
    background-color: #606060;
    position: absolute;
    bottom: 8px;
    right: 280px;
    font-size: 7pt;
    -moz-box-shadow: 2px 2px 2px #888888;
    -webkit-box-shadow: 2px 2px 2px #888888;
    box-shadow: 2px 2px 2px #888888;
}
div#map_legend_content {
    position: absolute;
    bottom: 35px;
    right: 280px;
    width: 200px;
    height: 280px;
    background-color: #efe8cb;
    border: solid 1px #999999;
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
    -moz-box-shadow: 2px 2px 2px #888888;
    -webkit-box-shadow: 2px 2px 2px #888888;
    box-shadow: 2px 2px 2px #888888;
}
div#map_legend_content h1 {
    font-size: 11pt;
    font-weight: bold;
    text-align:center;
}
div#map_legend_content table td {
    font-size: 9pt;
}
div#map_legend_content table th {
    font-size: 9pt;
    font-weight: bold;
}
div#map_legend_content table {
    margin: 10px 3px;
}
div#map_legend_content .swatch {
    width: 30px;
    height: 16px;
    margin: 1px 5px 1px 1px;
}
div#map_legend_content .basemap_swatch {
    border: solid 1px #555555;
}
div#map_legend_content .district_swatch {
    border: solid 2px #ee9900;
}
div#legend_swatch_1 {
    background-color: #dcdcdc;
}
div#legend_swatch_2 {
    background-color: #ababab;
}
div#legend_swatch_3 {
    background-color: #666666;
}
div#map_menu_header select {
  font-size: 14px;
  font-weight:bold;
  float:left;
  height: 25px;
  width: 170px;
}
    
div#map_menu_header label {
  margin: 0 5px 0 7px;
  display: block;
  float:left;
  font-size: 11px; 
  font-weight:bold;
  line-height: 12px;
  }
    
 div.map_menu_content {
     width: 262px;
    position:absolute; 
    bottom: 9px;
    top: 51px;
    z-index: 100;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -moz-box-shadow: 0 8px 17px -6px #333333;
    -webkit-box-shadow: 0 8px 17px -6px #333333;
    box-shadow: 0 8px 17px -6px #333333;
}
div.map_menu_content.geography {
    background: #badcbf;
    border:1px solid #77b280;
    display:none
  }
div.map_menu_content.demographics {
    background: #efe8cb;
    border: 1px solid #ada176;

}

div.plansummary {
    padding: 10px 10px 15px;
    background: url(/site-media/images/divider.png) 0 100% repeat-x;
    color: #3c3c3c;
    line-height: 16px;
    position:relative;
}
div.plansummary h3 {
  font-size: 19px;
  line-height: 26px;
  font-weight: bold;

}
div.plansummary label {
  display:inline-block;
  width: 116px;
  text-align:left;
  font-size: 12px;
  font-weight: bold;

  }
div.plansummary  .value {
  display:inline-block;
  width: 116px;
  text-align:right;
  font-size: 12px;
  font-weight: normal
  }

#updatestatsbtn {
  position: absolute;
  right: 290px;
  top:150px;
}

div.plantable table {
    border-collapse: collapse;
    color: #717171;
    table-layout: fixed;
    }
div.plantable.header {
    left: 5px; 
    right: 5px; 
    position: relative;
}
div.plantable.header table tr th {
    text-align:center;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    }
div.plantable.body  {
    background: #f7f4e5;
    border: 1px solid #aaa;
    overflow: auto;
    position: absolute;
    top:134px;
    bottom:33px;
    left: 5px; 
    right: 5px;
}
div.plantable.body table  tr.even {
  background: #fff;
}
div.plantable.body table tr td {
    font-size: 10pt;
    text-align: center;
    padding: 5px 3px;
}
div.plantable.body .cell1 {
    font-size: 12px;
    font-weight: bold;
}
 
div.plantable .cell1{  
    width: 12%;
    overflow: hidden;
}
div.plantable .cell2{  
    width: 24%;
}
div.plantable .cell3{  
    width: 26%;
}
div.plantable .cell4{  
    width: 38%;
}
div.plantable .error {
  font-size: 12px; 
  font-weight: bold;
  color:#333; 
  padding: 8px;
}
div.demographics div.plantable .cell2,
div.demographics div.plantable .cell3,
div.demographics div.plantable .cell4 {
    text-align:right;
}
span.popstatus { 
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  padding: 3px 8px;
  color: #3c3c3c;
  font-size: 11px;
  display:inline-block;
  }
.plantable span.popstatus {
  width:45px;
}
.over {
  background: #ead3a7;
  border: 1px solid #d9c296;
  }
.under {
  background: #a2d5d0;
  border: 1px solid #91c4b9;
}
.target {
  background: #eeeeee;
  border: 1px solid #cccccc;
}

div.menu_footer {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
}
div#stats_legend_panel{
  width: 240px;
  max-width:none;
  font-size: 11px;
  font-weight: bold;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
div#stats_legend_panel div.legend_item {
  width: 48%;
  margin-right:2%;
  float:left;
}
div#stats_legend_panel div.legend_item.last {
  width: 48%;
  margin-right: 0
}
div#stats_legend_panel h5 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 3px;
}
div#stats_legend_panel li{
  margin-bottom: 3px;
  list-style: none;
  }
div#stats_legend_panel span.swatch{
  float:left; 
  display: block;
  margin: 4px 5px 0 0;
}
div#stats_legend_panel img  {
  float:left; 
  display: block;
  margin: 2px 5px 0 0;

}


button#stats_legend {
  background-color: #bb9160;
  width: 100%;
}

/* bard map previews */
div.bardmap {
    position:absolute;
    right:30;
    top:40;
    height:600px;
    background-color: #FFFFFF;
}

/* Evaluate page */
div.evaluate {
    background: #87AE8B !important;
    position:absolute;
    top:33px;
}
.evaluate #description,
.evaluate #options {
    display:inline-block;
    width:65%;
}
.evaluate #plans {
    display:inline-block;
    width: 30%;
}

.evaluate #options span {
    display: block;
}

.evaluate #options1, .evaluate #options2 {
    display:inline-block;
    vertical-align:top;
    width: 45%;
}

.reportVar {
    padding-left:15px;
}
#evaluateMapContainer {
    position:absolute;
    top:0;
    right;0;
}
/* Share page */
div.share {
    background: #ACAE87 !important;
    height:100%;
}

.share #saveandshare {
    
}
.share #saveandshare,
.share #preview {
    display:inline-block;
    width:45%;
}
.share #nameandshare {
    position:relative;
    top:80%;
}
.share #reportpreview {
    height:600px;
}

/* district assignment control styles */
div.controlDiv {
    position:absolute; 
    width: 16px;
    height: 17px;
    left: 27px;
    top:27px;
    background: url(/site-media/openlayers/img/full-extent-mini.png) 0 0 no-repeat;
    background-color: #ffffff;
}
div.controlDiv span {
    font-size: 0.8em;
    margin: auto 5px;
}
div.controlDiv select {
    font-size: 0.7em;
}
div#tipclose {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}


/* JQUERY TOOLS TOOLTIPS */
/* tooltip styling */
.tooltip {
	display:none;
	background:#000;
  padding: 5px;
  border: 1px solid #666;
	font-size:11px;
  line-height: 14px;
	color:#fff;
  z-index: 10000;
  max-width: 141px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;  
}
.tooltip h1 {
    font-size: 11pt;
    margin-bottom: 0.5em;
}
.tooltip div {
    white-space: nowrap;
}



/* JQUERY UI GLOBAL OVERRIDE */
.ui-widget, .ui-widget button, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {font-family: Arial, Helvetica, sans-serif;}

.ui-dialog {
  border: none;
  -moz-border-radius:14px 14px 10px 10px;
  -webkit-border-radius:14px 14px 10px 10px;
  border-radius:14px 14px 10px 10px;
  -moz-box-shadow:0 0 63px -9px;
  -webkit-box-shadow:0 0 63px -9px;
  box-shadow:0 0 63px -9px;
 }

.ui-dialog .ui-dialog-titlebar {
  margin: -0.2em -0.2em 10px -0.2em;
  background: #39a787 url("/site-media/images/bg-toolbar.png") 0 0 repeat-x;
  color: #fff;
  -moz-border-radius:10px 10px 0 0;
  -webkit-border-radius:10px 10px 0 0;
  border-radius:10px 10px 0 0;
}

/* OPENLAYERS MAP CONTROLS OVERRIDE */

/*PAN*/

.olControlPanZoomBar{
	left: 10px !important;
	top: 10px !important;
}

.olControlPanUpItemInactive {
	left: 0 !important;
  top: 0 !important
}
.olControlPanUpItemInactive img {
	width: 50px !important;
	height: 17px !important;
}

.olControlPanDownItemInactive {
	top: 34px !important;
	left: 0 !important;
}
.olControlPanDownItemInactive img{
	width: 50px !important;
	height: 17px !important;
}
	
.olControlPanLeftItemInactive {
	top: 17px !important;
  left: 0 !important;
}
.olControlPanLeftItemInactive img{
	width: 17px !important;
	height: 17px !important;
}

.olControlPanRightItemInactive {
	left: 33px !important;
	top: 17px !important;
}
.olControlPanRightItemInactive img{
	width: 17px !important;
	height: 17px !important;
}

/*ZOOM*/
.olControlZoomInInactive {
  top: 58px !important;
}

.olControlZoomInInactive img {
  width: 24px !important;
  height: 24px !important;
}

.olControlZoomOutInactive {
}

.olControlZoomOutInactive img {
  width: 24px !important;
  height: 22px !important;
}
.olControlZoomGrabInactive  {
  left: 14px !important;
  }
.olControlZoomGrabInactive  img{
  width: 23px !important;
  height: 10px !important;
}
#working {
    font-size: 12pt;
}
