body {
  font-family: Arial, Helvetica, sans-serif;
}

body#static {  background: url(/site-media/images/bg-body-home.png) 0 0 repeat-x;}
body#app {  background: url(/site-media/images/bg-app.png) 0 0 repeat;}

.clear_left  {clear:left}
.clear_right {clear: right}
.clear  {clear: both}

div.static_wrap {
  width: 906px;
  margin: 0 auto;
  }

div#static_header {
  padding: 50px 0 20px;
  margin: 0 0 20px;
  background: url(/site-media/images/divider.png) 0 100% repeat-x;
}  
div#app_header {
  padding: 0;
  margin: 0 10px;
} 
div#logo {
  float: left;
}

#app div#logo {
  margin: 15px 0 0 5px
}

div#site_nav {
  float:right;
}
div#site_nav a {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  background: url(/site-media/images/divider-vert.png) 100% 0 repeat-y; 
  padding: 10px 15px;
  
}

div#site_nav a.last {
  background: none;
  padding-right: 0;
}

div#site_nav li {
  list-style: none; 
  display: inline-block;
}

div#banner {
  clear:both;
  -moz-box-shadow: 0 0 40px #5d8c96;
  -webkit-box-shadow:0 0 40px #5d8c96;
  box-shadow: 0 0 40px #5d8c96;
}

div#body_box {
  position:relative;
  text-align: left;
  margin: 30px 0 0 0 ; 
}
div#tour_news {
  width: 300px;
  margin: 0 35px 0 0;
  float: left;
}
div#tour_news ul {margin-left: 15px;}

div#news {
  text-align:left;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}


div#news span {
    font-weight: bold;
    padding: 3px;
}
div#news h3 {
  font-size: 21px; 
  line-height: 26px;
  color: #e1e8b1;
  margin: 0 0 12px 0; 
  font-weight: bold;
}

button#new_to_redistricting {
  margin-top: 20px;
  width:90%;
}


div#user {
  background: url(/site-media/images/bg-home-panel.png) 0 0 repeat-x;
  margin-left: 330px;
  height: 224px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   border-radius: 5px;
  -moz-box-shadow: 0 0 40px #95bec6;
  -webkit-box-shadow:0 0 40px #95bec6;
  box-shadow: 0 0 40px #95bec6;
}
div#user h2 {
  margin-left: 5px;
}

div#user button {width: 100%;}

div #user p {
  margin-top: 15px;
}

div#user a {
  color: #fff;
  text-decoration: underline;
  font-size: 11px;
  font-weight: bold;
  }

div#login {
  float: left;
  width: 240px;
  background: url(/site-media/images/divider-vert.png) 100% 0 repeat-y;
  padding: 0 20px;
  height: 100%;
}

div#login h3 {
  margin: 20px 0 10px;
  font-size:  20px;
  color: #fff;
  font-weight: bold;
}
div#login input {
  padding: 0 0 0 8px;
  width: 230px;
  height: 30px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px
  border-radius: 8px;

  }

div.rightlink {
    text-align: right;
    font-size: 0.8em;
}
input#loginbutton {
}
div#signup {
  margin: 0 0 0 20px;
  float:left;
}
div#signup h3 {
  margin-top: 20px;
  font-size:  20px;
  color: #fff;
  font-weight: bold;
}
div#signup h4 {
  margin: 10px 0 5px;
  font-size:  14px;
  color: #e0e7b2;
  font-weight: bold;
}
div#signUpButton {
    text-align: right;
}
div#ordiv {
    margin: 10px auto;
}
div#register {
  display:none;
  font-size: 14px;
  color: #6a6a6a;
  font-weight: bold;
}

form#registerForm input.field {
      padding: 0 0 0 8px;
  width: 230px;
  height: 30px;
  border: 1px solid #ccc;
  margin: 0 0 10px 15px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px
  border-radius: 8px;
}
form#registerForm input.error {
    border: solid 1px #ff0000;
}
table#registerTable {
    margin-bottom: 0.8em;
}
td.fname {
    white-space:nowrap;
    vertical-align: top;
    font-weight: bold;
}
span.recommended {
    font-size: 0.75em;
    text-align: center;
}
label.required {
    color: #ff0000;
}
div#requiredNote {
    font-size: 0.75em;
    text-align: left;
}
div#footer {
clear: both;
margin: 20px 0 0 0;
background: url(/site-media/images/divider.png) 0 0 repeat-x;
padding: 20px 0 0 0;
}
div#copyright {
  float:left;
  color: #474747;
  font-size: 11px;
  font-weight:bold;
}
div #sponsors {
  float:right;
}


/* mapping styles */

div#steps {
background:none repeat scroll 0 0 transparent;
border:medium none;
bottom:10px;
left:10px;
padding:0;
position:absolute;
right:10px;
top:50px;
}
ul#steps_tabs {
  background:none;
  border:none;
  padding:0;
}

li#tab_step1 {background-color: #93B6B2}
li#tab_step2 {background-color: #87ae8b}
li#tab_step3{background-color: #acae87}

div#step1 .toolbar {background: url(/site-media/images/bg-toolbar.png) 0 0 repeat-x #87aea9}
div#step2 .toolbar {background: url(/site-media/images/bg-toolbar.png) 0 0 repeat-x  #87ae8b}
div#step3 .toolbar {background: url(/site-media/images/bg-toolbar.png) 0 0 repeat-x #acae87}

ul#steps_tabs li {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  font-size: 14px;
  font-weight: bold;
  margin: 0 7px 0 0;
  border: none;
  background-image: url(/site-media/images/bg-tab-inactive.png) ;
  background-position:0 0;
  background-repeat:repeat-x;
}

ul#steps_tabs li.ui-state-default.ui-tabs-selected {
background-image:none
}

ul#steps_tabs li a {
color: #fff
}

input#drawbtn {
    color: #ffffff;
    border: 1px solid #000000;
    background-color: #ff8800;
}
input#evalbtn, input#sharebtn {
    color: #000000;
    border: 1px solid #000000;
    background-color: #dddddd;
}


/* toolbar buttonsset stying */




div#toolbar_plans {
    background: url(/site-media/images/bg-app.png) 0 0 repeat;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 0 0 0 10px;
    -moz-box-shadow: 5px -5px 7px -5px #777;
    -webkit-box-shadow: 5px -5px 7px -5px #777;
    box-shadow: 5px -5px 7px -5px #777;
    -moz-border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
}

  
div#toolbar_plans .planname{
  font-size: 14px;
  font-weight:normal;
  cursor:normal;
  padding-left: 0;
  line-height: 14px;
}
div#toolbar_plans .planname label{font-weight:bold;}

div#toolbar_plans #saveplanbtn {
  background: url(/site-media/images/icon-save.png) 0 0 no-repeat;
  padding-left:20px;
  
}
div#toolbar_plans #difplanbtn {
  background: url(/site-media/images/icon-open.png) 0 0 no-repeat;
  padding-left:20px;
}

div#mapandmenu {
    bottom:0;
    left:0;
    position:absolute;
    right:0;
    top:33px;
}
div#map {
    position: absolute;
    top: 51px;
    left:0;
    right: 0;
    bottom:0;
    background: #ccc;  
}

div#shadow_left {
background:url(/site-media/images/map-shadow-left.png) no-repeat scroll 0 0 transparent;
bottom:0;
left:0;
position:absolute;
top:0;
width:11px;
z-index:50;
}

div#shadow_top {
background:url(/site-media/images/map-shadow-top.png) repeat-x scroll 0 0 transparent;
height:11px;
left:11px;
position:absolute;
right:0;
top:0;
z-index:1500;
}


div.toolbar {
  height: 51px;
  border: none;
  -moz-border-radius: 0 10px 0 0;
  -webkit-border-radius: 0 10px 0 0;
  border-radius: 0 10px 0 0;
}

div#toolsets {
    position: absolute;
    right: 280px;
    height: 51px;
    left: 0;
    overflow: hidden;
    }
div.toolset {
  width: 100%
  }

    
div.toolset#toolset_draw {
  position:absolute;
  top:51px;
}

div.toolset_group{
  float:left;
  font-size: 11px;
  font-weight:bold;
  cursor:pointer;
  background: url(/site-media/images/divider-vert.png) 100% 0 repeat-y;
    padding: 8px 12px;
  }
div.toolset_group.first {padding-left: 0}
div .toolset_group.last {background: none}

div.toolset_group .help {
  float:right;
}

div.toolset_group label {
  font-size: 11px; 
  font-weight:bold;
}

div.toolset_group select {
  width: 100%;
  font-size: 11px;
  }

div.toolset .ui-icon {
background-color: transparent;
border:none;
}
    
#app button {
    background-image: url(/site-media/images/bg-button-sm.png);
    background-position: 0 0; 
    background-repeat: repeat-x;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 -1px #000;
    color: #fff;
    }

button.toolbar_toggle {
    position:absolute;
    right:0;
    text-transform: uppercase;
    padding: 5px 8px;
    margin-top: 8px;
}

    
button#edit_map_settings ,
button#start_drawing   {
    background-color: #1f8cbe;
    }

div#map_menu {
    float:right;
    margin: 0 10px 0 0;
    height: 100%;
    z-index:1000;
}
div#map_menu_header { 
    background: url(/site-media/images/bg-toolbar.png) 0 0 repeat-x #5b8a62;
    color: #ffffff;
    height: 30px;
    padding: 8px 0;
    cursor: pointer;
    margin-top: 11px;
    width: 262px;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    border-radius:10px 10px 0 0;
    }
div#map_menu_header button.menu_toggle{
width: 20px;
height: 20px;
float:left;
margin: 2px 0 0 5px;
}
div#map_menu_header select {
  font-size: 14px;
  font-weight:bold;
  float:left;
  height: 25px;
  width: 170px;
}
    
div#map_menu_header label {
  margin: 0 5px 0 10px;
  display: block;
  float:left;
  font-size: 11px; 
  font-weight:bold;
  line-height: 12px;
  }
    
 div.map_menu_content {
     width: 262px;
    position:absolute; 
    bottom: 9px;
    top: 51px;
    z-index: 100;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -moz-box-shadow: 0 8px 17px -6px #333333;
    -webkit-box-shadow: 0 8px 17px -6px #333333;
    box-shadow: 0 8px 17px -6px #333333;
}
div.map_menu_content.geography {
    background: #badcbf;
    border:1px solid #77b280;
  }
div.map_menu_content.demographics {
    background: #efe8cb;
    border: 1px solid #ada176;
    display:none
}

div.plansummary {
    padding: 10px 10px 15px;
    background: url(/site-media/images/divider.png) 0 100% repeat-x;
    color: #3c3c3c;
    line-height: 16px;
    position:relative;
}
div.plansummary h3 {
  font-size: 19px;
  line-height: 26px;
  font-weight: bold;

}
div.plansummary label {
  font-size: 12px;
  font-weight: bold;

  }
div.plansummary  .value {
  font-size: 12px;
  font-weight: normal
  }

div.plantable table {
    color: #717171;
    width: 100%;
    table-layout: fixed;
    }
div.plantable.header {
    left: 5px; 
    right: 5px; 
    position: relative;
}
div.plantable.header table tr th {
    text-align:center;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
    }
div.plantable.body  {
    background: #f7f4e5;
    border: 1px solid #aaa;
    overflow: auto;
    position: absolute;
    top:134px;
    bottom:33px;
    left: 5px; 
    right: 5px;
}
div.plantable.body table  tr.even {
  background: #fff;
}
div.plantable.body table tr td {
    font-size: 10pt;
    text-align: center;
    padding: 5px 3px;
}
div.plantable.body .celldist {
    font-size: 12px;
    font-weight: bold;
}
 
div.plantable .celldist{  
    width: 12%;
    overflow: hidden;
}
div.plantable .cellpop{  
    width: 24%;
}
div.plantable .cellcontig{  
    width: 26%;
}
div.plantable .cellcompact{  
    width: 38%;
}

span.popstatus { 
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  padding: 3px 8px;
  color: #3c3c3c;
  font-size: 11px;
  }
span.popstatus.over {
  background: #ee807c;
  color: #fff;
  border: 1px solid #bf716b
  }
span.popstatus.under {
  background: #f2dc9e;
  border: 1px solid #d2c28a;
}
span.popstatus.target {
  background: #ade786;
  border: 1px solid #a6cc88;
}

div.menu_footer {
position: absolute;
bottom: 5px;
left: 5px;
right: 5px;
}
button#stats_legend {
background-color: #bb9160;
width: 100%;
}


/* district assignment control styles */
div.controlDiv {
    padding: 5px;
    background-color: #ffffff;
}
div.controlDiv span {
    font-size: 0.8em;
    margin: auto 5px;
}
div.controlDiv select {
    font-size: 0.7em;
}


/* JQUERY UI GLOBAL OVERRIDE */
.ui-widget, .ui-widget button, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {font-family: Arial, Helvetica, sans-serif;}

.ui-dialog {
  border: none;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
 }

.ui-dialog .ui-dialog-titlebar {
  margin: -0.2em -0.2em 10px -0.2em;
  -moz-border-radius:10px 10px 0 0;
  -webkit-border-radius:10px 10px 0 0;
  border-radius:10px 10px 0 0;
}

/* OPENLAYERS MAP CONTROLS OVERRIDE */

/*PAN*/

#map-panel .olControlPanPanel{
	left: 10px;
	top: 10px;
}

#map-panel .olControlPanPanel div {
	background-image: url(http://cdn.azavea.com/org.walkshed/images/walkshed/images/pan-panel.png) 
}


#map-panel .olControlPanPanel .olControlPanNorthItemInactive {
	width: 38px;
	height: 13px;
	left: 0;
}

#map-panel .olControlPanPanel .olControlPanSouthItemInactive {
	background-position:  0 -25px;
	width: 38px;
	height: 13px;
	top: 25px;
	left: 0;
}
	
#map-panel .olControlPanPanel .olControlPanWestItemInactive {
	background-position:  0 -13px;
	width: 19px;
	height: 12px;
	top: 13px;
}

#map-panel .olControlPanPanel .olControlPanEastItemInactive {
	background-position:  -19px -13px;
	width: 19px;
	height: 12px;
	left: 19px;
	top: 13px;
}


/*ZOOM*/

#map-panel .olControlZoomPanel{
left:19px;
top:58px;
}

#map-panel .olControlZoomPanel div {
	background-image: url(http://cdn.azavea.com/org.walkshed/images/walkshed/images/zoom-panel.png) ;
	height: 19px;
	width: 21px;
}



#map-panel .olControlZoomPanel .olControlZoomToMaxExtentItemInactive  
{
	height:20px;
	top: 19px;
}
	
#map-panel .olControlZoomPanel .olControlZoomOutItemInactive  
{
	top: 39px;
}