body {
  margin: 0;
  text-align:center;
}
div#header_box {
  width: 1000px;
  margin: 0 auto;
  text-align: right;
}
div#welcome_header {
  height: 300px;
  border: solid 1px #666666;
  background-image: url('/site-media/gmu_banner.png');
}
div#welcome_header h1 {
  background: rgb(255, 255, 255);
  margin: 20px 20px 0 auto;
  text-align: center;
  width: 250px;
}
div#welcome_header h2 {
  background: rgb(255, 255, 255);
  margin: 20px 20px 0 auto;
  text-align: center;
  width: 385px;
}
div#body_box {
    width: 1000px;
    margin: 10px auto;
    position:relative;
    text-align: left;
}
div#tour_news {
  position: absolute;
  border: solid 1px #666666;
  width: 350px;
  height: 250px;
  text-align: center;
}
div#take_a_tour {
  border: solid 1px #cccccc;
  background-color: #cceeff;
  text-align: center;
  margin: 15px auto;
  width: 60%;
  padding-top: 10px;
}
div#take_a_tour:hover {
  background-color: #ddeeff;
}
div#news {
    text-align:left;
}
div#news span {
    font-weight: bold;
    padding: 3px;
}
div#user {
  position: absolute;
  right: 0px;
  width: 630px;
  border: solid 1px #666666;
  height: 250px;
}
div#user h2 {
  margin-left: 5px;
}
div#login {
  position: absolute;
  top: 50px;
  left: 5px;
  width: 315px;
}
div#signup {
  position: absolute;
  top: 50px;
  right: 5px;
  width: 315px;
}
div#signUpButton {
    text-align: right;
}
div#requiredNote {
    font-size: 0.75em;
    text-align: left;
}

/* mapping styles */
div#header {
    background-color: #000000;
    text-align:right;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
}
ul#header_menu {
    margin: 15px 0;
    list-style-type: none;
    color: #ffffff;
}
ul#header_menu li {
    display: inline;
    margin: 0px 5px;
}
ul#header_menu li a {
    color: #ffffff;
}
div#toolbar {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 250px;
    height: 25px;
    padding: 1px;
}
div#toolbar_steps {
    float: left;
}
input#drawbtn {
    color: #ffffff;
    border: 1px solid #000000;
    background-color: #ff8800;
}
input#evalbtn, input#sharebtn {
    color: #000000;
    border: 1px solid #000000;
    background-color: #dddddd;
}
input#difplanbtn {
    color: #000000;
    border: 1px solid #000000;
    background-color: #ffffff;
}
input#saveplanbtn {
    color: #000000;
    border: 1px solid #000000;
    background-color: #00ee00;
}
div#toolbar_plans {
    float: right;
}
div#planname {
    position: absolute;
    top: 50px;
    right: 0;
    width: 250px;
    text-align: center;
}
div#mapandmenu {
    position: relative;
    top: 77px;
}
div#map {
    position: absolute;
    left: 2px;
    bottom: 2px;
    right: 250px;
    border: 1px solid #cccccc;
    height: 100%;
}
div#mapmenu {
    position: absolute;
    right: 1px;
    width: 248px;
    height: 100%;
}
div#mapmenuheader {
    background-color: #000099;
    color: #ffffff;
    text-align: left;
    height: 30px;
    padding: 5px;
}
div#plansummary {
    text-align:left;
    padding: 10px;
    background-color: #00bbff;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
}
div#plantable table thead tr th {
    font-size: 8pt;
}
div#plantable table tbody tr td {
    font-size: 10pt;
    text-align: center;
}
div#plantable table tbody tr td.distid {
    font-size: 12pt;
    font-weight: bold;
}
div.graph { 
    position: relative; /* IE is dumb */
    width: 60px; 
    border: 1px solid #666666; 
    padding: 2px; 
    text-align: left;
}
div.graph div.bar { 
    display: block;
    position: relative;
    background: #B1D632; 
    text-align: center; 
    color: #333; 
    height: 8px; 
    line-height: 8px;            
}

